section.cam-nhan-hoc-vien
	.container
		.row
			.col-12.text-center
				h2.title cảm nhận của học viên
				img(src="img/line.png", alt="line")
			.col-12.swiper-container
				.swiper-wrapper
						.swiper-slide
							.item
								.box-content
									p Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum nostrum velit voluptate quaerat molestias nisi veniam, illum itaque dolor impedit? Unde facere eaque provident debitis quod sunt voluptate consectetur quo? Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repellat explicabo, expedita debitis nemo neque perferendis aliquid quo, quasi laudantium ducimus saepe odio. Quod eligendi tenetur pariatur sint quaerat distinctio, soluta iusto ad voluptatum alias. Quis rerum et deleniti fugit iusto possimus sit quia fuga dolore minus quisquam hic, ea laudantium!
									.user-detail
										.img-wrap
											img(src="img/user.jpg", alt="user")
										.detail
											h3 Nguyễn Thành Lộc
											p Điều dưỡng - hộ lý
								.watermark
									img(src="img/logo.png", alt="logo")
									img(src="img/quote-sign.png", alt="quote-sign")
						.swiper-slide
							.item
								.box-content
									p Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum nostrum velit voluptate quaerat molestias nisi veniam, illum itaque dolor impedit? Unde facere eaque provident debitis quod sunt voluptate consectetur quo? Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cupiditate consequuntur natus quia dolores error quo velit tempora nemo voluptatum facere similique ex odio inventore aliquam, atque harum recusandae adipisci eum incidunt deserunt, numquam reiciendis perspiciatis! Similique quam omnis quis hic veniam quas provident sunt eveniet laudantium recusandae, ab nobis beatae?
									.user-detail
										.img-wrap
											img(src="img/user.jpg", alt="user")
										.detail
											h3 Nguyễn Thành Lộcccccc
											p Điều dưỡng - hộ lý
								.watermark
									img(src="img/logo.png", alt="logo")
									img(src="img/quote-sign.png", alt="quote-sign")
						.swiper-slide
							.item
								.box-content
									p Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum nostrum velit voluptate quaerat molestias nisi veniam, illum itaque dolor impedit? Unde facere eaque provident debitis quod sunt voluptate consectetur quo? Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cupiditate consequuntur natus quia dolores error quo velit tempora nemo voluptatum facere similique ex odio inventore aliquam, atque harum recusandae adipisci eum incidunt deserunt, numquam reiciendis perspiciatis! Similique quam omnis quis hic veniam quas provident sunt eveniet laudantium recusandae, ab nobis beatae?
									.user-detail
										.img-wrap
											img(src="img/user.jpg", alt="user")
										.detail
											h3 Nguyễn Thành Lộcccccc
											p Điều dưỡng - hộ lý
								.watermark
									img(src="img/logo.png", alt="logo")
									img(src="img/quote-sign.png", alt="quote-sign")
			.pagination