section.cam-nhan-hoc-vien
	.container
		.row
			.col-12.text-center
				h2.title cảm nhận của học viên
				img.lazy(data-src="img/line.png", alt="line")
			.col-12.swiper-container
				.swiper-wrapper
						.swiper-slide
							.item
								.box-content
									.text
										p Tôi là một học viên cũ của Mirai,  trước khi đến với Mirai, tôi đã tham khảo khá nhiều công ty về xuất khẩu lao động, tuy nhiên tôi thấy Mirai vẫn là công ty có uy tín và trách nhiệm nhất. Đội ngũ nhân viên ở đây rất thân thiện và hoà đồng. Các anh chị ấy đã giúp đỡ tôi rất nhiều trong việc học tập cũng như tạo mọi điều kiện thuận lợi giúp tôi có thể tham gia xuất khẩu lao động. Thời gian lúc đầu tôi cảm thấy khá khó khăn khi phải tiếp xúc với một môi trường và ngôn ngữ xa lạ, nhưng nhờ có sự động viên của các giảng viên tại Mirai mà tôi đã có động lực để vượt qua chướng ngại của bản thân mình. Mặc dù hiện tại ngôn ngữ của tôi vẫn chưa được lưu loát lắm, tuy nhiên tôi vẫn sẽ cố gắn hết sức học tập để không phụ lòng tin của các giảng viên tại Mirai
										p Tôi là một học viên cũ của Mirai,  trước khi đến với Mirai, tôi đã tham khảo khá nhiều công ty về xuất khẩu lao động, tuy nhiên tôi thấy Mirai vẫn là công ty có uy tín và trách nhiệm nhất. Đội ngũ nhân viên ở đây rất thân thiện và hoà đồng. Các anh chị ấy đã giúp đỡ tôi rất nhiều trong việc học tập cũng như tạo mọi điều kiện thuận lợi giúp tôi có thể tham gia xuất khẩu lao động. Thời gian lúc đầu tôi cảm thấy khá khó khăn khi phải tiếp xúc với một môi trường và ngôn ngữ xa lạ, nhưng nhờ có sự động viên của các giảng viên tại Mirai mà tôi đã có động lực để vượt qua chướng ngại của bản thân mình. Mặc dù hiện tại ngôn ngữ của tôi vẫn chưa được lưu loát lắm, tuy nhiên tôi vẫn sẽ cố gắn hết sức học tập để không phụ lòng tin của các giảng viên tại Mirai
									.user-detail
										.img-wrap
											img.lazy(data-src="http://noibo.miraihuman.com/miraiuploads/86957561340.jpg", alt="user")
										.detail
											h3 Đặng Thị Yến Nhi
											p Điều dưỡng
								.watermark
									img.lazy(data-src="img/logo/logo.png", alt="logo")
									img.lazy(data-src="img/quote-sign.png", alt="quote-sign")
						.swiper-slide
							.item
								.box-content
									.text
										p Thật khó khăn khi phải sống và làm việc trong một môi trường xa lạ, nhưng nếu có được  sự quan tâm và hổ trợ từ nơi khác thì đó sẽ là nguồn động lực quý giá cho bạn vững bước hơn.Từ những ngày đầu vừa bước chân vào Mirai, tôi cảm thấy thật xa lạ và có cảm giác lo sợ. Tuy nhiên, nhờ sự nhiệt tình của các anh chị tư vấn viên cũng như sự ân cần của đội ngũ giảng viên tôi đã cảm thấy tốt hơn.Đó là sự kiên nhẫn, ân cần dạy từng con chữ. Chia sẽ những lo lắng khi ngày đầu bước chân đến nơi xa lạ, chính những điều đó đã tạo nên sự ấm áp cho tôi.Giờ đây, tôi đã có công việc phù hợp, cuộc sống cũng không còn bỡ ngỡ như ban đầu chính là nhờ vào Mirai. Qua đây tôi xin gởi lời cảm ơn chân thành nhất đến với Mirai, nơi đã giúp tôi tự tin và trưởng thành như bây giờ.
									.user-detail
										.img-wrap
											img.lazy(data-src="http://noibo.miraihuman.com/miraiuploads/66226466861.jpg", alt="user")
										.detail
											h3 Trần Thị Thu Thảo
											p Thực tập sinh
								.watermark
									img.lazy(data-src="img/logo/logo.png", alt="logo")
									img.lazy(data-src="img/quote-sign.png", alt="quote-sign")
						.swiper-slide
							.item
								.box-content
									.text
										p Tôi vẫn nhớ rõ những cảm xúc ngày ấy, cảm giác bồi hồi khi lần đầu tiên bước chân vào Mirai. Để tìm việc làm kiếm thêm thu nhập cho bản thân và gia đình tôi đã nghĩ đến việc đi xuất khẩu lao động. Tuy nhiên, tôi không có sự hiểu biết cũng như kiến thức gì về công việc này cả. Các anh chị ở Mirai đã tư vấn cho tôi rất nhiệt tình, nhờ đó mà tôi đã có sự định hướng cho công việc cũng như tương lai của mình.Hiện tại, tôi đang làm việc tại Nhật Bản, công việc rất phù hợp với tôi và lương cũng khá cao, tôi cảm thấy rất hài lòng với công việc hiện tại của mình.Nhờ có đội ngủ giảng viên nhiều kinh nghiệm và nhiệt tình ở Mirai, mà tôi từ một người không biết gì về tiếng Nhật, giờ đây đã có thể nghe, hiểu và trao đổi được với người Nhât. Điều này đã giúp ích rất nhiều cho công việc của tôi.Qua đây, tôi xin gửi lời cảm ơn chân thành nhất đến tất cả đội ngũ nhân viên đang làm việc tại Mirai, những người luôn làm việc có tâm và cống hiến hết mình cho công việc.
									.user-detail
										.img-wrap
											img.lazy(data-src="http://noibo.miraihuman.com/miraiuploads/DANG%20THI%20THU%20NGAN.jpg", alt="user")
										.detail
											h3 Đặng Thị Thu Ngân
											p Thực tập sinh
								.watermark
									img.lazy(data-src="img/logo/logo.png", alt="logo")
									img.lazy(data-src="img/quote-sign.png", alt="quote-sign")
				.swiper-pagination