.viec-lam-mirai
	h3.sub-title.color-title VIỆC LÀM MIRAI
	nav.list-viec-lam
		li
			a(href="tuyen-dung.html") [ THỰC TẬP SINH NHẬT BẢN ] 12 NAM - CHẾ TẠO KIM LOẠI TẤM DÙNG TRONG XÂY DỰNG
		li
			a(href="tuyen-dung.html") [ THỰC TẬP SINH NHẬT BẢN ] 12 NAM - CHẾ TẠO KIM LOẠI TẤM DÙNG TRONG XÂY DỰNG
		li
			a(href="tuyen-dung.html") [ THỰC TẬP SINH NHẬT BẢN ] 12 NAM - CHẾ TẠO KIM LOẠI TẤM DÙNG TRONG XÂY DỰNG
		li
			a(href="tuyen-dung.html") [ THỰC TẬP SINH NHẬT BẢN ] 12 NAM - CHẾ TẠO KIM LOẠI TẤM DÙNG TRONG XÂY DỰNG
		li
			a(href="tuyen-dung.html") [ THỰC TẬP SINH NHẬT BẢN ] 12 NAM - CHẾ TẠO KIM LOẠI TẤM DÙNG TRONG XÂY DỰNG
		li
			a(href="tuyen-dung.html") [ THỰC TẬP SINH NHẬT BẢN ] 12 NAM - CHẾ TẠO KIM LOẠI TẤM DÙNG TRONG XÂY DỰNG
		li
			a(href="tuyen-dung.html") [ THỰC TẬP SINH NHẬT BẢN ] 12 NAM - CHẾ TẠO KIM LOẠI TẤM DÙNG TRONG XÂY DỰNG
		li
			a(href="tuyen-dung.html") [ THỰC TẬP SINH NHẬT BẢN ] 12 NAM - CHẾ TẠO KIM LOẠI TẤM DÙNG TRONG XÂY DỰNG