section.don-hang-noi-bat
	.container
		.text-center
			h2.title đơn hàng nổi bật
		.row
			.col-md-6.col-lg-3
				.item
					h3.sub-title.sub-title-1 cơ khí
					.item-content
						p Địa chỉ làm việc: OSAKA
						p Công việc: CHẾ TẠO KIM LOẠI TẤM DÙNG TRONG XÂY DỰNG VÀ SƠN
						p Lương cơ bản: 140.000 YÊN
						p Ngày tuyển: 19/09/2019
						a(href="/").see-more Xem chi tiết
					.parallelogram
						img(src="img/co-khi.jpg", alt="co-khi")
			.col-md-6.col-lg-3
				.item
					h3.sub-title.sub-title-2 điều dưỡng
					.item-content
						p Địa chỉ làm việc: OSAKA
						p Công việc: CHẾ TẠO KIM LOẠI TẤM DÙNG TRONG XÂY DỰNG VÀ SƠN
						p Lương cơ bản: 140.000 YÊN
						p Ngày tuyển: 19/09/2019
						a(href="/").see-more Xem chi tiết
					.parallelogram
						img(src="img/dieu-duong.jpg", alt="dieu-duong")
			.col-md-6.col-lg-3
				.item
					h3.sub-title.sub-title-3 chế biến thực phẩm
					.item-content
						p Địa chỉ làm việc: OSAKA
						p Công việc: CHẾ TẠO KIM LOẠI TẤM DÙNG TRONG XÂY DỰNG VÀ SƠN
						p Lương cơ bản: 140.000 YÊN
						p Ngày tuyển: 19/09/2019
						a(href="/").see-more Xem chi tiết
					.parallelogram
						img(src="img/che-bien-thuc-pham.jpg", alt="che-bien-thuc-pham")
			.col-md-6.col-lg-3
				.item
					h3.sub-title.sub-title-4 xây dựng
					.item-content
						p Địa chỉ làm việc: OSAKA
						p Công việc: CHẾ TẠO KIM LOẠI TẤM DÙNG TRONG XÂY DỰNG VÀ SƠN
						p Lương cơ bản: 140.000 YÊN
						p Ngày tuyển: 19/09/2019
						a(href="/").see-more Xem chi tiết
					.parallelogram
						img(src="img/xay-dung.jpg", alt="xay-dung")