section.donhangnoibat
	.container
		.text-center
			.title ĐƠN HÀNG NỔI BẬT
		.donhangnoibat-wrapper
			.donhangnoibat-item
				.sub-title CƠ KHÍ
				.donhangnoibat-content
					p Địa chỉ làm việc: OSAKA
					p Công việc: CHẾ TẠO KIM LOẠI TẤM DÙNG TRONG XÂY DỰNG VÀ SƠN
					p Lương cơ bản: 140.000 YÊN
					p Ngày tuyển: 19/09/2019
					a(href="tuyen-dung.html").see-more Xem chi tiết
					.parallelogram
						img.lazy(data-src="img/co-khi.jpg" alt="co-khi")
			.donhangnoibat-item
				.sub-title ĐIỀU DƯỠNG
				.donhangnoibat-content
					p Địa chỉ làm việc: OSAKA
					p Công việc: CHẾ TẠO KIM LOẠI TẤM DÙNG TRONG XÂY DỰNG VÀ SƠN
					p Lương cơ bản: 140.000 YÊN
					p Ngày tuyển: 19/09/2019
					a(href="tuyen-dung.html").see-more Xem chi tiết
					.parallelogram
						img.lazy(data-src="img/dieu-duong.jpg" alt="dieu-duong")
			.donhangnoibat-item
				.sub-title chế biến thực phẩm
				.donhangnoibat-content
					p Địa chỉ làm việc: OSAKA
					p Công việc: CHẾ TẠO KIM LOẠI TẤM DÙNG TRONG XÂY DỰNG VÀ SƠN
					p Lương cơ bản: 140.000 YÊN
					p Ngày tuyển: 19/09/2019
					a(href="tuyen-dung.html").see-more Xem chi tiết
					.parallelogram
						img.lazy(data-src="img/che-bien-thuc-pham.jpg" alt="che-bien-thuc-pham")
			.donhangnoibat-item
				.sub-title XÂY DỰNG
				.donhangnoibat-content
					p Địa chỉ làm việc: OSAKA
					p Công việc: CHẾ TẠO KIM LOẠI TẤM DÙNG TRONG XÂY DỰNG VÀ SƠN
					p Lương cơ bản: 140.000 YÊN
					p Ngày tuyển: 19/09/2019
					a(href="tuyen-dung.html").see-more Xem chi tiết
					.parallelogram
						img.lazy(data-src="img/xay-dung.jpg" alt="xay-dung")