section.chuong-trinh-dich-vu
	.container
		.row
			.col-12.text-center
				h2.title chương trình & dịch vụ
				img(src="img/line.png", alt="line")
			.col-md-6
				.item
					img(src="img/icon-student.png", alt="icon-student")
					.item-content
						h3.sub-title du học sinh
						p Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis nulla dolores vero minima ipsa! Aspernatur error ipsum debitis animi praesentium delectus quod ut minima, aliquid eius totam, molestias rem ipsam! Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deserunt, atque.
						a(href="/").see-more Xem chi tiết
			.col-md-6
				.item
					img(src="img/icon-engineer.png", alt="icon-engineer")
					.item-content
						h3.sub-title kỹ sư việt - nhật
						p Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis nulla dolores vero minima ipsa! Aspernatur error ipsum debitis animi praesentium delectus quod ut minima, aliquid eius totam, molestias rem ipsam!
						a(href="/").see-more Xem chi tiết
			.col-md-6
				.item
					img(src="img/icon-internship.png", alt="icon-internship")
					.item-content
						h3.sub-title thực tập sinh
						p Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis nulla dolores vero minima ipsa! Aspernatur error ipsum debitis animi praesentium delectus quod ut minima, aliquid eius totam, molestias rem ipsam!
						a(href="/").see-more Xem chi tiết
			.col-md-6
				.item
					img(src="img/icon-doctor.png", alt="icon-doctor")
					.item-content
						h3.sub-title hộ lý - điều dưỡng
						p Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis nulla dolores vero minima ipsa! Aspernatur error ipsum debitis animi praesentium delectus quod ut minima, aliquid eius totam, molestias rem ipsam!
						a(href="/").see-more Xem chi tiết
