section.chuong-trinh-dich-vu
	.container
		.row
			.col-12.text-center
				h2.title chương trình & dịch vụ
				img.lazy(data-src="img/line.png", alt="line")
			.col-md-6
				.item
					img.lazy(data-src="img/icon-student.png", alt="icon-student")
					.item-content
						h3.sub-title du học sinh
						p Với mục tiêu tiếp nhận 300.000 du học sinh quốc tế vào năm 2020, Nhật Bản đang là lựa chọn ưu tiên của nhiều bạn trẻ các nước nói chung và Việt Nam nói riêng. Có thể nói tại Châu Á Nhật Bản là quốc gia có nền giáo dục và đào tạo có chất lượng hàng đầu – yếu tố then chốt tạo nên nguồn nhân lực chất lượng hàng đầu góp phần làm nên một Nhật Bản thần kỳ.
						a(href="/").see-more
							span Xem chi tiết
							span.mdi.mdi-arrow-right.ml-1
			.col-md-6
				.item
					img.lazy(data-src="img/icon-engineer.png", alt="icon-engineer")
					.item-content
						h3.sub-title kỹ sư việt - nhật
						p Chương trình kỹ sư là chương trình tiếp nhận chuyên gia, nhân lực có trình độ cao của Chính phủ Nhật Bản nhằm bù đắp cho sự thiếu hụt lực lượng lao động có trình độ kéo dài trong những năm qua.
						a(href="/").see-more
							span Xem chi tiết
							span.mdi.mdi-arrow-right.ml-1
			.col-md-6
				.item
					img.lazy(data-src="img/icon-internship.png", alt="icon-internship")
					.item-content
						h3.sub-title thực tập sinh
						p Chương trình Thực tập sinh kỹ năng là chương trình do Chính phủ Nhật Bản khởi xướng với mục đích chuyển giao công nghệ, kỹ thuật, kỹ năng cho Việt Nam thông qua hình thức tiếp nhận nhân lực trẻ của Việt Nam sang Nhật Bản thực tập nâng cao trình độ tay nghề (trong thời gian 03 năm) sau đó trở về Việt Nam tiếp tục làm việc trong các công ty có ngành nghề tương tự để áp dụng những kiến thức, kỹ năng đã được thực tập thực tế tại Nhật Bản.
						a(href="/").see-more
							span Xem chi tiết
							span.mdi.mdi-arrow-right.ml-1
			.col-md-6
				.item
					img.lazy(data-src="img/icon-doctor.png", alt="icon-doctor")
					.item-content
						h3.sub-title hộ lý - điều dưỡng
						p Bước đầu, Nhật Bản dự kiến tiếp nhận 3.000 điều dưỡng viên trong vòng 1 năm, với sự hỗ trợ tài chính từ phía Tokyo cho hoạt động đào tạo ngôn ngữ, và sau đó mở rộng quy mô lên 10.000 điều dưỡng viên trong 2 năm.
						a(href="/").see-more
							span Xem chi tiết
							span.mdi.mdi-arrow-right.ml-1
