section.dao-tao-giao-duc
	.container
		.row
			.col-12.text-center
				h2.title đào tạo & giáo dục
				img.lazy(data-src="img/icon/line.png", alt="line")
				.content
					p Mục tiêu đào tạo và giáo dục của chúng tôi là chuyển biến nhân sự của doanh nghiệp trở thành nguồn tài nguyên quan trọng nhất bằng cách thay đổi ý thức và tư duy sao cho bản thân nhân viên tự mình suy nghĩ, tự đặt ra mục tiêu, tự hành động để tạo ra được sự tin tưởng lớn nhất. Lấy chất lượng làm cam kết cho doanh nghiệp và người lao động.