section.dao-tao-giao-duc
	.container
		.row(data-aos="zoom-out-right" data-aos-duration="1000" data-aos-delay="500" data-aos-anchor=".hoat-dong-mirai .img-wrap" data-aos-anchor-placement="top-center")
			.col-12.text-center
				h2.title đào tạo & giáo dục
				img(src="img/line.png", alt="line")
				.content
					p Mục tiêu đào tạo và giáo dục của chúng tôi là chuyển biến nhân sự của doanh nghiệp trở thành nguồn tài nguyên quan trọng nhất
					p bằng cách thay đổi ý thức và tư duy sao cho bản thân nhân viên tự mình suy nghĩ, tự đặt ra mục tiêu, tự hành động để tạo ra được
					p sự tin tưởng lớn nhất...