section.tuyensinh-container.ct-donhang.pt-4.pb-5
	.container.p-0
		include ../breadcrumb/index
	.container.ct-tuyensinh__container
		img.ct-tuyensinh__banner.lazy(data-src="img/donhang/0-donhang-dieuduong.jpg" alt="donhang/0-donhang-dieuduong.jpg")
		.ct-tuyensinh__title.text-center.my-4.mx-md-4
			p [XKLD] TUYỂN GẤP 50 NAM NỮ CHĂM SÓC NGƯỜI CAO TUỔI
		.ct-tuyensinh__divider
		.ct-tuyensinh__shortDescription.fw-700.text-center.py-3.py-md-5.px-md-4
			p Bạn là sinh viên tốt nghiệp chuyên ngành điều dưỡng, hộ lý, gặp khó khăn trong việc tìm kiếm việc làm với mức lương phù hợp. Nhưng gần đây, tại Nhật Bản ngành kaigo – hộ lý lại là công việc thu hút nhiều lao động nước ngoài. Vậy thì các bạn hãy cho bản thân cơ hội nhận làm việc tại đất nước phát triển bậc nhất thế giới cùng với mức lương 34 triệu/tháng và những lợi ích tuyệt vời khác.
		.ct-tuyensinh__divider
		.py-3.d-flex.justify-content-between.mx-auto
			p
				span Hạn nộp hồ sơ: &nbsp;
				strong(style="color: red") 27 - 05 - 2020
			button.modal-btn__open.ct-donhang__btn__ungtuyen ỨNG TUYỂN
		.ct-tuyensinh__chitiet.mt-4
			.ct-donhang__title.mb-2 ĐIỀU KIỆN TUYỂN DỤNG
			ul.bullets.mb-4
				li Thời gian làm việc : &nbsp;
					strong 3 năm
				li Số lượng: 50 Nam + Nữ
				li Độ tuổi: 19 - 40 tuổi.
				li Điều kiện khác: Yêu người già, thích các hoạt động xã hội, yêu thích công việc hộ lý
			.ct-donhang__title.mb-2 ĐIỀU KIỆN TUYỂN DỤNG
			ul.bullets.mb-4
				li Lương cơ bản : &nbsp;
					strong 28~36 triệu/tháng &nbsp;
					span (chưa tính tăng ca)
				li Tích lũy : Khoảng 500 triệu/3năm (chưa tính tăng ca)
				li Bảo hiểm : Y tế, hưu trí, lao động theo Pháp luật Nhật Bản
				li Giờ làm việc : 8h/ngày, 40h/tuần (chưa kể tăng ca)
			.ct-donhang__title.mb-2 LỊCH TRÌNH THAM GIA
			ul.bullets.mb-4
				li Hạn chót đăng ký: &nbsp;
					strong 25/03/2020
				li Phỏng vấn: &nbsp;
					strong 05/2020
				li Xuất cảnh dự kiến: &nbsp;
					strong 05/2021
			.ct-donhang__title.mb-2 NƠI LÀM VIỆC
			ul.bullets.mb-4
				li Hyogo
			.ct-donhang__title.mb-2 THÔNG TIN LIÊN HỆ
			strong TRUNG TÂM ĐÀO TẠO:
			ul.bullets.mb-4
				li
					span 155 Trần Trọng Cung, P. Tân Thuận Đông, Quận 7, HCM, Việt Nam &nbsp;
					strong (Hotline: 028 6686 3208)
	.ct-donhang__modal.modal-container
		.modal-content.p-4.px-sm-5
			span.modal-btn__close.ct-donhang__btn__close.mdi.mdi-close
			.col-12.mb-4.ct-tuyensinh__title.text-center [XKLD] TUYỂN GẤP 50 NAM NỮ CHĂM SÓC NGƯỜI CAO TUỔI
			form.form__container.row.m-0
				.col-md-6
					.form__group
						input.form__field#ho_ten(type="text" name="ho_ten" required placeholder="Họ và tên của bạn")
						label.form__label(for="ho_ten") Họ và tên của bạn
				.col-md-6
					.form__group
						input.form__field#dien_thoai(type="text" name="dien_thoai" required placeholder="Điện thoại của bạn")
						label.form__label(for="dien_thoai") Điện thoại của bạn
				.col-12
					.form__group
						input.form__field#noi_dung(type="text" name="noi_dung" required placeholder="Nội dung nhắn gửi")
						label.form__label(for="noi_dung") Nội dung nhắn gửi
				.col-12.mt-4.text-center
					button(type="submit").ct-donhang__btn__submit ứng tuyển