section.tuyen-dung
	.container
		.row
			.col-md-9
				h2.sub-title.color-title [ THỰC TẬP SINH NHẬT BẢN ] 16 NAM - CHẾ TẠO KIM LOẠI TẤM DÙNG TRONG XÂY DỰNG 12 NAM VÀ SƠN 14 NAM
				.line
				table.table-tuyen-dung
					tr
						td.fw-700 Địa chỉ làm việc
						td OSAKA
					tr
						td.fw-700 Công việc
						td CHẾ TẠO KIM LOẠI TẤM DÙNG TRONG XÂY DỰNG VÀ SƠN
					tr
						td.fw-700 Thời gian làm việc
						td 8H00~17H00
					tr
						td.fw-700 Lương cơ bản
						td 140.000 YÊN
					tr
						td.fw-700 Phí phải trừ
						td THUẾ + BẢO HIỂM
					tr
						td.fw-700 Lương thực nhận
						td TỪ 100,000 YÊN TRỞ LÊN (TĂNG CA NHIỀU)
					tr
						td.fw-700 Ngày tuyển
						td 03/04/2018
					tr
						td.fw-700 Số lượng cần tuyển
						td 12 NAM CHẾ TẠO KIM LOẠI TẤM DÙNG TRONG XÂY DỰNG 4 NAM THỢ SƠN
					tr
						td.fw-700 Dự kiến xuất cảnh
						td 01/10/2018
					tr
						td.fw-700 Trình độ
						td THPT TRỞ LÊN
					tr
						td.fw-700 Yêu cầu khác
						td SIÊNG NĂNG, THÍCH CÁC CÔNG VIỆC CHẾ TẠO SẢN XUẤT CÓ 4 SEMPAI ĐANG LÀM CHẾ TẠO KIM LOẠI TẤM.
					tr
						td.fw-700 Độ tuổi
						td TỪ 20~28
				.line
				button.btn-ung-tuyen-ngay ứng tuyển ngay
				button.btn-so-yeu-li-lich tải sơ yếu lí lịch
			.col-md-3
				include ../viec-lam-mirai/index
section.tuyen-dung-popup
	h3.sub-title.color-title upload cv
		.mdi.mdi-close
	form(method="post").tuyen-dung-form
		.form-item
			label(for="name") Họ và tên
			input(type="text" id="name" placeholder="Nhập họ và tên")
		.form-item
			label(for="email") Email
			input(type="text" id="email" placeholder="exemple@email.com")
		.form-item
			label(for="title") Tiêu đề
			input(type="text" id="title" placeholder="Nhập tiêu đề")
		.form-item
			label(for="phone") Số điện thoại
			input(type="text" id="phone" placeholder="Nhập Số điện thoại")
		.form-item
			label(for="content") Nội dung
			textarea(id="content" placeholder="Nhập nội dung...")
		.custom-input-file
			input(type="file" id="file-cv")
			label(for="file-cv") Chọn file cv
		.form-item
			button.btn-ung-tuyen-ngay ứng tuyển ngay
			button.btn-so-yeu-li-lich Làm lại
.tuyen-dung-popup-background