section.home-gioi-thieu
	.container
		.row
			.col-12
				h2.title giới thiệu
				p Miraihuman là một trong những công ty dẫn đầu Việt nam trong lĩnh vực xuất khẩu lao động Nhật.
				p Công ty chuyên cung ứng nguồn nhân lực cho thị trường Nhật Bản.
			.col-6.col-md-3.item
					img(src="img/icon-rating.png", alt="icon-rating")
					h3.sub-title thế mạnh Mirai
					p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Itaque, odio fuga nulla laboriosam animi quod repudiandae officiis voluptates fugit cupiditate, qui soluta mollitia. Quas officiis minima nulla sapiente, distinctio corrupti.
			.col-6.col-md-3.item
					img(src="img/icon-order.png", alt="icon-order")
					h3.sub-title đào tạo chất lượng
					p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Itaque, odio fuga nulla laboriosam animi quod repudiandae officiis voluptates fugit cupiditate, qui soluta mollitia. Quas officiis minima nulla sapiente, distinctio corrupti.
			.col-6.col-md-3.item
					img(src="img/icon-professor.png", alt="icon-professor")
					h3.sub-title chất lượng giảng viên
					p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Itaque, odio fuga nulla laboriosam animi quod repudiandae officiis voluptates fugit cupiditate, qui soluta mollitia. Quas officiis minima nulla sapiente, distinctio corrupti.
			.col-6.col-md-3.item
					img(src="img/icon-question.png", alt="icon-question")
					h3.sub-title đồng hành cùng bạn
					p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Itaque, odio fuga nulla laboriosam animi quod repudiandae officiis voluptates fugit cupiditate, qui soluta mollitia. Quas officiis minima nulla sapiente, distinctio corrupti.