section.home-gioi-thieu
	.container
		.row
			.col-12
				h2.title giới thiệu
				p Miraihuman là một trong những công ty dẫn đầu Việt nam trong lĩnh vực xuất khẩu lao động Nhật.
				p Công ty chuyên cung ứng nguồn nhân lực cho thị trường Nhật Bản.
			.col-6.col-md-3.item
				img.lazy(data-src="img/icon/icon-rating.png" alt="icon-rating")
				h3.sub-title thế mạnh Mirai
				p Mirai có Ban lãnh đạo và đội ngũ nhân viên nhiều kinh nghiệm đã và đang từng bước khẳng định vị thế của mình. Tự hào là một trong những doanh nghiệp uy tín và chất lượng hàng đầu trong lĩnh vực xuất khẩu lao động.
				p Đội ngũ giảng viên thân thiện, nhiệt tình, luôn cập nhật và truyền tải những kiến thức mới nhất cho các học viên. Tạo dựng một môi trường làm việc năng động và sáng tạo góp phần bồi dưỡng và phát triển nhân tài.
			.col-6.col-md-3.item
				img.lazy(data-src="img/icon/icon-order.png" alt="icon-order")
				h3.sub-title đào tạo chất lượng
				p Mục tiêu đào tạo và giáo dục của chúng tôi là chuyển biến nhân sự của doanh nghiệp trở thành nguồn tài nguyên quan trọng nhất bằng cách thay đổi ý thức và tư duy sao cho bản thân nhân viên tự mình suy nghĩ, tự đặt ra mục tiêu, tự hành động để tạo ra được sự tin tưởng lớn nhất. Lấy chất lượng làm cam kết cho doanh nghiệp và người lao động.
			.col-6.col-md-3.item
				img.lazy(data-src="img/icon/icon-professor.png" alt="icon-professor")
				h3.sub-title LÀM VIỆC DÀI HẠN TẠI NHẬT BẢN 
				p Trước mục tiêu trở thành nước công nghiệp năm 2020, Việt Nam đang có lợi thế sở hữu một thế hệ kỹ sư trẻ đầy tài năng và tham vọng, trong số các kỹ sư điện, điện tử, cơ khí, điều khiển tự động, công nghệ thông tin mới tốt nghiệp từ các trường đại học khối kỹ thuật danh tiếng.
			.col-6.col-md-3.item
				img.lazy(data-src="img/icon/icon-question.png" alt="icon-question")
				h3.sub-title TẬN DỤNG CƠ HỘI ĐẦU TƯ TẠI VIỆT NAM
				p Mirai luôn liên tục tuyển chọn nguồn lao động mới, đào tạo ngoại ngữ, tay nghề và chuyên môn cũng như các kiến thức văn hoá cần thiết để phù hợp với yêu cầu của các nhà tuyển dụng. Bên cạnh đó, chúng tôi còn đưa ra giải pháp đầu tư hiệu quả nhất không chỉ là tận dụng lợi thế về sự cần cù của dân tộc Việt Nam, sự gần gũi với Nhật Bản, nguồn nhân lực dồi dào với chi phí lao động thấp mà với kinh nghiệm và mối quan hệ mật thiết với các loại hình doanh nghiệp tại Việt Nam...