section.viec-lam
	.container
		.row
			.col-12.viec-lam-title
				h2.title việc làm mirai
				nav.viec-lam-tabs
					li(tabs="tai-nhat-ban") tại nhật bản
					li.active(tabs="ky-su-thong-dich-vien") kỹ sư & thông dịch viên
					li(tabs="dieu-duong-ho-ly") hộ lý - điều dưỡng
			.col-12.tabs-content
				.row.content-header
					.col-md-6 VỊ TRÍ
					//- .col-6.col-md-3 NHẬT NGỮ
					.col-6.col-md-3 MỨC LƯƠNG
					.col-6.col-md-3 ĐỊA ĐIỂM
				.tabs-content-wrap(tabs="tai-nhat-ban")
					-for(i = 0; i < 8; i++)
						.row.content-item
							.col-md-6.congviec
								a(href="tuyen-dung.html") 1 NAM - CHẾ TẠO KIM LOẠI TẤM DÙNG TRONG XÂY DỰNG
							//- .col-6.col-md-3 không
							.col-6.col-md-3.luong 35~40tr
							.col-6.col-md-3.diadiem hiroshima
				.tabs-content-wrap(tabs="dieu-duong-ho-ly")
					-for(i = 0; i < 8; i++)
						.row.content-item
							.col-md-6.congviec
								a(href="tuyen-dung.html") 1 NAM - CHẾ TẠO KIM LOẠI TẤM DÙNG TRONG XÂY DỰNG
							//- .col-6.col-md-3 không
							.col-6.col-md-3.luong 35~40tr
							.col-6.col-md-3.diadiem hiroshima
				.tabs-content-wrap.active(tabs="ky-su-thong-dich-vien")
					.row.content-item
						.col-md-6.congviec
							a(href="tuyen-dung.html") 1 NAM - CHẾ TẠO KIM LOẠI TẤM DÙNG TRONG XÂY DỰNG
						//- .col-6.col-md-3 không
						.col-6.col-md-3.luong 230,000 YÊN TRỞ LÊN
						.col-6.col-md-3.diadiem Tokyo
					-for(i = 0; i < 6; i++)
						.row.content-item
							.col-md-6.congviec
								a(href="tuyen-dung.html") TUYỂN 12 NỮ ĐIỀU DƯỠNG
							//- .col-6.col-md-3 không
							.col-6.col-md-3.luong 230,000 YÊN TRỞ LÊN
							.col-6.col-md-3.diadiem hiroshima
					.row.content-item
						.col-md-6.congviec
							a(href="tuyen-dung.html") 12 ~ 13 NAM - CHẾ TẠO KIM LOẠI TẤM DÙNG TRONG XÂY DỰNG
						//- .col-6.col-md-3 không
						.col-6.col-md-3.luong 35~40tr
						.col-6.col-md-3.diadiem hiroshima
				.row.content-bottom
					.col-lg-7.bottom-left
						p THÔNG TIN LIÊN LẠC:
						.info
							p
								span.mdi.mdi-email
								span Email: contact@miraihuman.com
							p
								span.mdi.mdi-phone
								span Hotline: 0902 538 164
					.col-lg-5.bottom-right
						.tabs-pagination.justify-content-end
							a(href="tuyen-dung-list.html").see-all.m-0 Xem tất cả