section.gioi-thieu
	.container
		.row
			.col-12.text-center
				h2.title giới thiệu về miraihuman
			.col-md-9
				p
					span.color-title.fw-700 Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae, distinctio.
					span Lorem ipsum dolor, sit amet consectetur adipisicing elit. Saepe officia sint repellendus numquam consequuntur? Repellat mollitia vero labore. Ex ipsum sed eaque aut ullam cupiditate alias illo doloribus commodi harum? Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur corporis fugiat exercitationem magnam assumenda esse non? Magni illum dicta, consequuntur in consequatur laboriosam incidunt quis esse voluptate commodi modi iusto? Lorem ipsum dolor sit amet consectetur adipisicing elit. Id ducimus perferendis, voluptatem itaque pariatur totam repellendus delectus aspernatur nam nemo autem veniam, illum accusamus laboriosam sequi rem quam? Doloremque, mollitia!
			.col-md-3.order-first.order-md-0
				.logo
					img(src="img/logo-footer.png", alt="logo-footer")
			.col-12
				.img-wrap
					img(src="img/gioi-thieu.png", alt="gioi-thieu")
			.col-12.col-md-9
				h2.title giá trị cốt lõi
				p
					span.color-title.fw-700 Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae, distinctio.
					span Lorem ipsum dolor, sit amet consectetur adipisicing elit. Saepe officia sint repellendus numquam consequuntur? Repellat mollitia vero labore. Ex ipsum sed eaque aut ullam cupiditate alias illo doloribus commodi harum? Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur corporis fugiat exercitationem magnam assumenda esse non? Magni illum dicta, consequuntur in consequatur laboriosam incidunt quis esse voluptate commodi modi iusto? Lorem ipsum dolor sit amet consectetur adipisicing elit. Id ducimus perferendis, voluptatem itaque pariatur totam repellendus delectus aspernatur nam nemo autem veniam, illum accusamus laboriosam sequi rem quam? Doloremque, mollitia!
				.gioi-thieu-content
					.item
						.hexagon
							span.mdi.mdi-account-group
						.item-content
							h4 con người
							p Lấy học viên là trung tâm. Đội ngũ giảng viên giàu kinh nghiệm, truyền tải các kiến thức kỹ thuật mới nhất trong ngành, những kỹ năng làm việc thực tế.
					.item
						.hexagon
							span.mdi.mdi-shield-check
						.item-content
							h4 trách nhiệm
							p Chúng tôi cam kết cung cấp môi đào tạo chất lượng, đem lại giá trị thực tiễn cho học viên, sẵn sàng là cầu nối với doanh nghiệp.
					.item
						.hexagon
							span.mdi.mdi-medal
						.item-content
							h4 Cộng đồng
							p Lấy học viên là trung tâm. Đội ngũ giảng viên giàu kinh nghiệm, truyền tải các kiến thức kỹ thuật mới nhất trong ngành, những kỹ năng làm việc thực tế.
					.item
						.hexagon
							span.mdi.mdi-comment-multiple
						.item-content
							h4 lắng nghe
							p Luôn lắng những nghe chia sẻ của học viên, đồng thời góp ý và khơi gợi tính sáng tạo, đánh giá cao khả năng tư duy và của học viên.
				.sck
					img(src="img/5s.png", alt="5s")
					img(src="img/5c.png", alt="5c")
					img(src="img/5k.png", alt="5k")
			.col-12.col-md-3
				.sidebar-right
					nav.sidebar
						li.active
							a(href="/") Giới thiệu
						li
							a(href="/") Mục tiêu đào tạo
						li
							a(href="/") Quy trình tuyển dụng
						li
							a(href="/") Nhà sáng lập
					.contact-us
						h3 MURAI HUMAN
						p Liên hệ với chúng tôi tại văn phòng Tư vấn gần nhất hoặc gửi yêu cầu trực tuyến.
						a(href="/").btn-contact LIÊN HỆ NGAY
			.col-md-9
				.line
				include ../viec-lam-mirai/index