section.about-page
	.container.py-4.py-md-5
		.row
			.col-md-6
				img.about-hinhanhmirai.lazy(style="width: 400px; height: 600px" data-src="https://via.placeholder.com/400x600?text=max-width: 400px; height: auto;" alt="Hình ảnh trụ sở công ty max-width: 400px; height: auto;")
				img.about-hinhanhmirai.lazy(style="width: 400px; height: 250px" data-src="https://via.placeholder.com/400x250?text=max-width: 400px; height: 250px;" alt="Hình ảnh trụ sở công ty max-width: 400px; height: auto;")
			.col-md-6
				img.about-logo__mirai.lazy(data-src="img/logo/logo-1.png" alt="logo-1.png")
				.about-table
					.about-table__row
						.about-table__header Tên công ty
						.about-table__description Công ty TNHH Nhân lực Mirai
					.about-table__row
						.about-table__header Ngày thành lập
						.about-table__description Ngày 12 tháng 5 năm 2015
					.about-table__row
						.about-table__header
							| Giấy phép
							br
							| kinh doanh
						.about-table__description Số 0313246837 do Sở Kế Hoạch và Đầu tư Thành phố Hồ Chí Minh
				.about-thongtincongty
					.about-thongtincongty__header Nội dung hoạt động
					.about-thongtincongty__description
						p + Đào tạo, phái cử thực tập sinh, kỹ sư sang Nhật làm việc
						p + Du học Nhật Bản
						p + Giới thiệu việc làm trong nước
						p + Tư vấn cho doanh nghiệp Nhật Bản đầu tư vào Việt Nam
					.about-thongtincongty__header TRỤ SỞ CHÍNH
					.about-thongtincongty__description
						p 26/4 - 26/5 Lê Thánh Tôn, P. Bến Nghé, Quận 1, HCM, Việt Nam 
					//- .about-thongtincongty__header CƠ SỞ
					.about-thongtincongty__header TRUNG TÂM ĐÀO TẠO
					.about-thongtincongty__description
						//- .about-thongtincongty__subheader TRUNG TÂM ĐÀO TẠO
						p 155 Trần Trọng Cung, P. Tân Thuận Đông, Quận 7, TP Hồ Chí Minh
						.about-thongtincongty__subheader cơ sở 2
						p 27/3 Đường số 10 - KP 3, P. Bình Thuận, Quận 7, TP Hồ Chí Minh
						.about-thongtincongty__subheader cơ sở 3
						p 11/2 Đường số 10 - KP 3, P. Bình Thuận, Quận 7, TP Hồ Chí Minh
					.about-thongtincongty__header  VĂN PHÒNG Ở NHẬT BẢN
					.about-thongtincongty__description
						.about-thongtincongty__subheader TẠI TOKYO
						p 〒141-0021 Tokyouto Shinagawaku Kamioosaki 2 Choume 13 Ban 32 Gou Tomita Biru 401
						.about-thongtincongty__subheader TẠI KANAGAWA
						p 〒 211-0002 2-1341-10 kamimaruko sannocho, nakahara ku, kawasaki shi, kanagawa ken
			.col-12.mt-5
				.about-title Tầm nhìn & Sứ mệnh
				.about-content
					img.about-hinhanhchutich.lazy.d-block.ml-auto(data-src="https://via.placeholder.com/350x350?text=max-width: 350px; height: auto;" alt="Hình ảnh chủ tịch")
					.text
						p Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit, earum ipsa nihil temporibus iusto dolorum? Ipsam atque necessitatibus nulla labore facilis ut debitis fugiat temporibus magni modi eum ratione, eius, optio itaque nesciunt quis dolor aperiam. Eum illo accusamus corporis, voluptatibus ipsam omnis nam numquam ut magnam ad nobis facere praesentium sequi odit, dolores natus quam aut optio esse hic et doloribus. Dolore molestias nesciunt, omnis aliquid id ipsum perferendis! Officia saepe ea magnam totam corrupti iusto doloribus aut praesentium amet delectus, vero cumque nobis quo unde, illo quos tempora ab eos cum hic ducimus eum explicabo. Molestias, non consequuntur!