section.breadcrumb-container
	nav.breadcrumb-nav
		li.breadcrumb-item
			a(href="#").page Root
		li.breadcrumb-item
			a(href="#").page Level 1
		li.breadcrumb-item
			a(href="#").page Level 2
		li.breadcrumb-item
			a(href="#").page Lorem ipsum dolor sit amet.
