.breadcrumb
	margin: 10px 0
	font-size: 14px
	a
		color: $text-color
	li
		list-style: none
		display: inline-block
		&:not(:first-child)
			padding-left: 15px
			position: relative
			&:before
				position: absolute
				left: 0
				top: 1px
				color: $text-color
				content: '\F142'
				display: inline-block
				font-family: 'Material Design Icons'
				font-size: inherit
				text-rendering: auto
				line-height: 1
				-webkit-font-smoothing: antialiased
				-moz-osx-font-smoothing: grayscale
		&.active
			a
				color: $title-color
@media (max-width: 575.97px)
	.breadcrumb
		font-size: 12px