section.breadcrumb-container
	.container
		.row
			.col-12
				nav.breadcrumb-nav
					li.breadcrumb-item
						a(href="#").page Trang chủ
					li.breadcrumb-item
						a(href="#").page Hỏi đáp
					li.breadcrumb-item
						a(href="#").page Hỏi đáp
					li.breadcrumb-item
						a(href="#").page Xuất khẩu lao động tại Nhật
