section.thong-ke
	.container
		.row
			.col-4.item
				h3.sub-title phỏng vấn 09/2019
				img(src="img/icon-candidate.png", alt="phong-van")
				.sum 178
				p ứng viên
			.col-4.item
				h3.sub-title đơn tuyển 09/2019
				img(src="img/icon-magnifying-glass.png", alt="don-tuyen")
				.sum 45
				p công ty
			.col-4.item
				h3.sub-title xuất cảnh 09/2019
				img(src="img/icon-aircraft-2.png", alt="xuat-canh")
				.sum 191
				p thực tập sinh + kỹ sư