section.thong-ke
	.container
		.row
			.col-4.item
				h3.sub-title phỏng vấn 09/2019
				img(src="img/icon-candidate.png", alt="phong-van")
				.sum
					span(data-count="178") 0
				p ứng viên
			.col-4.item
				h3.sub-title đơn tuyển 09/2019
				img(src="img/icon-magnifying-glass.png", alt="don-tuyen")
				.sum
					span(data-count="45") 0
				p công ty
			.col-4.item
				h3.sub-title xuất cảnh 09/2019
				img(src="img/icon-aircraft-2.png", alt="xuat-canh")
				.sum
					span(data-count="191") 0
				p thực tập sinh + kỹ sư