section.home-lienket.mt-4
	.container
		.col-12.text-center
			.title.mx-auto.mb-2 LIÊN KẾT VỚI TRƯỜNG ĐẠI HỌC, CAO ĐẲNG TẠO CƠ HỘI VIỆC LÀM TIẾNG NHẬT CHO SINH VIÊN
			img(src="img/line.png", alt="line.png")
		.swiper-container.my-4
			.swiper-wrapper
				.swiper-slide
					a(href="http://hcmute.edu.vn/").home-lienket__item
						img.lazy(data-src="img/school/school-1.png" alt="school-1.png")
						.home-lienket__description Trường ĐH Sư phạm Kỹ thuật TP. HCM 
				.swiper-slide
					a(href="http://hufi.edu.vn/").home-lienket__item
						img.lazy(data-src="img/school/school-2.png" alt="school-2.png")
						.home-lienket__description Trường ĐH Công Nghiệp Thực Phẩm HCM
				.swiper-slide
					a(href="http://vlute.edu.vn/vi/").home-lienket__item
						img.lazy(data-src="img/school/school-3.png" alt="school-3.png")
						.home-lienket__description Trường ĐH Sư phạm Kỹ thuật Vĩnh Long
				.swiper-slide
					a(href="http://www.vlvc.edu.vn/").home-lienket__item
						img.lazy(data-src="img/school/school-4.png" alt="school-4.png")
						.home-lienket__description Trường Cao Đẳng Nghề Vĩnh Long
				.swiper-slide
					a(href="http://www.tgu.edu.vn/").home-lienket__item
						img.lazy(data-src="img/school/school-5.png" alt="school-5.png")
						.home-lienket__description  Trường ĐH Tiền Giang
				.swiper-slide
					a(href="http://danavtc.edu.vn/").home-lienket__item
						img.lazy(data-src="img/school/school-6.png" alt="school-6.png")
						.home-lienket__description Trường Cao Đẳng Nghề Đà Nẵng