extends _layout.pug

block var
	- var title = 'Trung tâm ngoại ngữ - Chi tiết tuyển sinh'

block main
	section.tuyensinh-container.pt-4.pb-5
		.container.p-0
			include ../components/breadcrumb/index
		.container.ct-tuyensinh__container
			img.ct-tuyensinh__banner.lazy(data-src="img/backdrop/sakura-2.jpg" alt="sakura-2.jpg")
			.ct-tuyensinh__title.text-center.my-4
				p CHƯƠNG TRÌNH ĐÀO TẠO TIẾNG NHẬT
				p.mt-md-2 Sơ cấp 1(N5) - Sơ cấp 2(N4)
				p.mt-md-3 KHAI GIẢNG NGÀY 01/07/2020
			.ct-tuyensinh__divider.w-75
			.ct-tuyensinh__shortDescription.text-center.py-3.py-md-5
				p Học phí cực ưu đãi.
				p Đội ngũ giáo viên là người bản địa (Nhật Bản), đã từng tốt nghiệp và du học tại Nhật Bản.
				p Đảm bảo đầu ra N4, N5 theo chuẩn JLPT.
			.ct-tuyensinh__divider.w-75
			.ct-tuyensinh__chitiet.mt-4
				p.my-3 Chi tiết khóa học
				ul.bullets.mb-4
					li Thời gian khai giảng: 01/07/2020.
					li Hạn đăng ký:  
						span.fw-700(style="color: red") 30 - 06 - 2020
					li Đăng ký tại:  
						span.fw-700 155 Trần Trọng Cung, P. Tân Thuận Đông, Quận 7
					li Thời gian đăng ký: 8:00 ~ 17:00 từ thứ 2 đến thứ 7 (Chủ nhật, ngày lễ nghỉ)
					li Điện thoại: 
						span.fw-700 028 6686 3208
						|  -  
						span.fw-700 0888 019 009
						span.text-italic  (Hoàng Phú)
				ul.bullets.mb-4.mb-md-5
					li Buổi học: Sáng, chiều, tối vào thứ 2-4-6 và thứ 3-5-7
					li Tổng thời gian: 6,5 tháng = 78 buổi x 2 giờ học = 156 giờ học
				ol.numbers.mb-4
					li Bạn muốn biết thêm một ngoại ngữ mới?
					li Bạn muốn đi du lịch hoặc thực tập, làm việc tại Nhật Bản?
					li Bạn muốn thi lấy chứng chỉ N5 tiếng Nhật?
				.fw-700.mb-2.mb-md-4 Với:
				ul.bullets
					li Học phí cực ưu đãi.
					li Được 
						span.fw-700 TƯ VẤN
						|  và  
						span.fw-700 HỖ TRỢ
						|  trong việc tìm kiếm việc làm tại các doanh nghiệp Nhật Bản.
					li Giảng viên của Trung tâm là người bản địa (Nhật Bản), đã từng tốt nghiệp và du học tại Nhật Bản – để đảm bảo yêu cầu từ doanh nghiệp Nhật khi đi thực tập và làm việc.
					li Giờ học sôi động, vừa học vừa chơi, tạo môi trường cho học viên tự tin với tiếng Nhật.
					li Chú trọng về cách phát âm chuẩn và giao tiếp thuần thục, linh hoạt.
					li Dạy 80 chữ Hán cơ bản của trình độ N5, cách viết, cách tưởng tượng để nhớ được chữ Hán, nhớ và áp dụng được cách đọc âm on, kun.
					li Giảng bài sử dụng giáo cụ trực quan và ví dụ gần gũi để học viên nhớ được bài ngay trên lớp.
					li Đồng thời kết hợp cho học viên làm bài tập trên lớp và giao bài về nhà ở mức độ vừa đủ để học viên nhanh chóng nắm chắc kiến thức căn bản.
					li Thường xuyên kiểm tra sau mỗi chuyên đề học (từ vựng, ngữ pháp tiếng Nhật).
					li Kiểm tra cuối khoá học (kiểm tra vấn đáp) với nhiều hình thức triển khai, kiểm tra kaiwa theo nhóm hoặc cá nhân.
			.ct-tuyensinh__divider.mt-5
			img.ct-tuyensinh__banner.mt-4.lazy(data-src="http://noibo.miraihuman.com/public/miraiuploads/%E1%BA%A3nh%20b%C3%A0i%20vi%E1%BA%BFt%202/IMG_6569-min.jpg" alt="")