extends _layout.pug

block var
	- var title = 'Danh sách đơn hàng'

block main
	.pt-4.pb-5
		.container.p-0
			section.breadcrumb-container
				nav.breadcrumb-nav
					li.breadcrumb-item
						a(href="index.html").page Trang chủ
					li.breadcrumb-item
						a(href="ds-donhang.html").page Danh sách đơn hàng
			section.ds-donhang.container
				.text-center
					.title Đơn hàng
				.row
					.col-md-3
						ul.ds-donhang__list
							li
								a(href="#") cơ khí
							li
								a(href="#") nông nghiệp
							li
								a(href="#") linh kiện điện tử
							li
								a(href="#") sơ chế thực phẩm
							li
								a(href="#") thủy sản
							li
								a(href="#") ô tô
							li
								a(href="#") dàn giáo
							li
								a(href="#") điều dưỡng
					.col-md-9
						.ds-donhang__content
							.ds-donhang__headline
								.ds-donhang__count
									span.counter 130
									span &nbsp; việc làm
								form.ds-donhang__search
									input(type="text" name="search_donhang" placeholder="Tìm kiếm đơn hàng...")
									button(type="button").mdi.mdi-magnify
							div
								-for(i = 0; i < 10; i++)
									.content-item
										.col-md-6.congviec
											a(href="ct-donhang.html") 1 NAM - CHẾ TẠO KIM LOẠI TẤM DÙNG TRONG XÂY DỰNG
										.col-6.col-md-3.luong 35~40tr
										.col-6.col-md-3.diadiem hiroshima