extends _layout.pug

block var
	- var title = 'Giấy phép'

block main
	.tuyensinh-container.pt-4.pb-5
		.container.ct-tuyensinh__container
			img.lazy(data-src="img/giayphep/giayphep.png" alt="giayphep.png")