extends _layout.pug

block var
	- var link = 'link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lobster&display=swap"'
	- var title = 'Hoi-dap'

block main
	include ../components/banner/index
	include ../components/breadcrumb/index
	include ../components/hoi-dap/index
	include ../components/back-2-top/index
	include ../components/contact-now/index
	include ../components/stuff-hoi-dap/index
