extends _layout.pug

block var
	- var title = 'video'

block main
	include ../components/banner/index
	include ../components/breadcrumb/index
	include ../components/media/video
	include ../components/back-2-top/index
	include ../components/contact-now/index
	include ../components/stuff-hoi-dap/index
