section.news-detail
	.container
		.row
			.col-md-9
				.post-wrap
					h2.sub-title Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa excepturi ea iusto voluptate quibusdam recusandae odit obcaecati deleniti vero voluptates ut dolore accusantium tenetur quas illum, ipsam suscipit explicabo quaerat.
					.posted 19/09/2019
					.post-content
						p Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum iure amet minima cum! Nesciunt facilis placeat magni. Laudantium repudiandae id nihil reprehenderit veniam similique pariatur facilis fugiat maxime! Quo, dolore! Lorem ipsum dolor sit amet consectetur, adipisicing elit. Soluta, minus. Libero, unde quaerat nesciunt omnis ullam earum fuga inventore quia odio repellendus praesentium fugiat suscipit enim dicta tempora ad pariatur.
						.img-wrap
							img.lazy(data-src="img/banner-1.jpg", alt="banner-1")
						p Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint, nostrum maxime repudiandae, iure, rerum praesentium ipsa enim perferendis explicabo tempora tenetur? Ratione deleniti temporibus amet velit quod optio maxime aliquid, nihil distinctio ab possimus laboriosam ullam voluptates tempora. Veniam animi quisquam illum rem cumque doloribus. Debitis quisquam iste officiis veritatis nulla alias provident velit doloribus animi! Aperiam inventore quidem culpa, ea necessitatibus ex odit commodi, quasi consectetur alias, modi natus illo aspernatur ratione laboriosam sed! Fuga, unde. Veniam, voluptatum reprehenderit aperiam a enim ut assumenda cupiditate quisquam deleniti quo id, totam accusamus tenetur? Deleniti fugiat consequuntur eligendi, ex quod cum, eum officia voluptates numquam autem eaque facere dolores explicabo molestias tenetur nulla omnis nesciunt ipsam aut officiis veniam natus amet fugit. Molestiae reiciendis commodi enim, earum debitis vitae odit, voluptas ex deserunt dolorem amet eaque alias tempora perspiciatis asperiores voluptatem, vel culpa mollitia aut veniam possimus laboriosam. Non similique illo, libero quae fugiat est! Id at tenetur veritatis incidunt error. Ut reprehenderit alias debitis ipsam obcaecati laudantium, doloremque sint modi consequuntur amet quaerat eos reiciendis fugiat nisi neque delectus culpa maiores repellendus quidem. Praesentium quam commodi vel non accusamus nemo ullam consequuntur aut alias architecto, quos quisquam dolorum blanditiis impedit?
				.line
				include ../viec-lam-mirai/index
			.col-md-3
				.other-news
					h3.sub-title TIN LIÊN QUAN
					-for(var i = 0; i < 2; i++)
						.sub-news
							.img-wrap
								img.lazy(data-src="img/co-khi.jpg", alt="co-khi")
							a(href="/").sub-title Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis repellendus nihil eligendi! Officiis accusamus
							.posted 19/09/2019
							.news-content
								p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Labore beatae quos reprehenderit tempore. Blanditiis omnis quia error nihil ipsum, reprehenderit unde natus magnam harum pariatur labore culpa cupiditate suscipit, optio, et magni ad illum cum eius sequi. Perferendis, expedita quis sapiente accusantium cumque, provident, beatae dolores error consectetur consequuntur minima.
				.other-news
					h3.sub-title XEM NHIỀU NHẤT
					-for(var i = 0; i < 2; i++)
						.sub-news
							.img-wrap
								img.lazy(data-src="img/co-khi.jpg", alt="co-khi")
							a(href="/").sub-title Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis repellendus nihil eligendi! Officiis accusamus
							.posted 19/09/2019
							.news-content
								p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Labore beatae quos reprehenderit tempore. Blanditiis omnis quia error nihil ipsum, reprehenderit unde natus magnam harum pariatur labore culpa cupiditate suscipit, optio, et magni ad illum cum eius sequi. Perferendis, expedita quis sapiente accusantium cumque, provident, beatae dolores error consectetur consequuntur minima.