section.hoat-dong-mirai(data-aos="zoom-in" data-aos-duration="1000")
	.container
		.row
			.col-12.text-center
				h2.title hoạt động mirai
				img(src="img/line.png", alt="line")
			.col-12.slide-hoat-dong
				.swiper-container
					.swiper-wrapper
							.swiper-slide
								.img-wrap
									img(src="img/hoat-dong (1).jpg", alt="hoat-dong (1)")
							.swiper-slide
								.img-wrap
									img(src="img/hoat-dong (2).jpg", alt="hoat-dong (2)")
							.swiper-slide
								.img-wrap
									img(src="img/hoat-dong (4).jpg", alt="hoat-dong (4)")
							.swiper-slide
								.img-wrap
									img(src="img/hoat-dong (5).jpg", alt="hoat-dong (5)")
							.swiper-slide
								.img-wrap
									img(src="img/hoat-dong (6).jpg", alt="hoat-dong (6)")
							.swiper-slide
								.img-wrap
									img(src="img/hoat-dong (7).jpg", alt="hoat-dong (7)")
							.swiper-slide
								.img-wrap
									img(src="img/hoat-dong (8).jpg", alt="hoat-dong (8)")
				.pagination