section.hoat-dong-mirai
	.container
		.row
			.col-12.text-center
				h2.title hoạt động mirai
				img.lazy(data-src="img/line.png" alt="line")
			.col-12.slide-hoat-dong
				.swiper-container
					.swiper-wrapper
						.swiper-slide
							img.lazy(data-src="http://noibo.miraihuman.com/miraiuploads/hinhanh/86957561342%20(1).jpg" alt="hoat-dong (1)")
							//- img.lazy(data-src="https://via.placeholder.com/500?text=Image" alt="hoat-dong (1)")
						.swiper-slide
							img.lazy(data-src="http://noibo.miraihuman.com/miraiuploads/hinhanh/Webp.net-resizeimage%20(1).jpg" alt="hoat-dong (2)")
							//- img.lazy(data-src="https://via.placeholder.com/500?text=Image" alt="hoat-dong (2)")
						.swiper-slide
							img.lazy(data-src="http://noibo.miraihuman.com/miraiuploads/hinhanh/57031784980.jpg" alt="hoat-dong (4)")
							//- img.lazy(data-src="https://via.placeholder.com/500?text=Image" alt="hoat-dong (4)")
						.swiper-slide
							img.lazy(data-src="http://noibo.miraihuman.com/miraiuploads/92982476892.jpg" alt="hoat-dong (5)")
							//- img.lazy(data-src="https://via.placeholder.com/500?text=Image" alt="hoat-dong (5)")
						.swiper-slide
							img.lazy(data-src="http://noibo.miraihuman.com/miraiuploads/DANG%20THI%20YEN%20NHI%2004.05.2001.jpg" alt="hoat-dong (6)")
							//- img.lazy(data-src="https://via.placeholder.com/500?text=Image" alt="hoat-dong (6)")
						.swiper-slide
							img.lazy(data-src="http://noibo.miraihuman.com/miraiuploads/DANG%20THI%20THU%20NGAN.jpg" alt="hoat-dong (7)")
							//- img.lazy(data-src="https://via.placeholder.com/500?text=Image" alt="hoat-dong (7)")
						.swiper-slide
							img.lazy(data-src="http://noibo.miraihuman.com/miraiuploads/%E1%BA%A3nh1/29aa3676565e5b755b80069374796007.jpg" alt="hoat-dong (8)")
							//- img.lazy(data-src="https://via.placeholder.com/500?text=Image" alt="hoat-dong (8)")
					.swiper-pagination