section.page-banner
	picture
		source(media="(min-width: 960px)" srcset="img/banner/banner-tintuc-1920x500.png")
		source(media="(min-width: 640px)" srcset="img/banner/banner-tintuc-960x500.png")
		img.lazy(data-src="img/banner/banner-tintuc-960x500.png" alt="img/banner/banner-tintuc-960x500.png")
section.contact.py-4.py-md-5
	.container
		.text-center.d-none.d-md-block
			.title liên hệ
		.row
			.col-md-4.p-md-0
				.text-center.title.d-md-none.mb-2#lien_he__dropdown
					span liên hệ
					span.mdi.mdi-chevron-down.ml-2
				.contact-wrap#lien_he__list
					.item
						.item-title trụ sở chính
						p.mdi.mdi-map-marker 26/4 - 26/5 Lê Thánh Tôn, P. Bến Nghé, Quận 1, TP Hồ Chí Minh
						p.mdi.mdi-phone (+84) 6686 3208
					.item
						.item-title TRUNG TÂM ĐÀO TẠO
						p.mdi.mdi-map-marker 155 Trần Trọng Cung, P. Tân Thuận Đông, Quận 7, TP Hồ Chí Minh
						p.mdi.mdi-phone (+84) 6686 3208
					.item
						.item-title CƠ SỞ 2
						p.mdi.mdi-map-marker 27/3 Đường số 10 - KP 3, P. Bình Thuận, Quận 7, TP Hồ Chí Minh
						p.mdi.mdi-phone (+84) 902 763 882
					.item
						.item-title CƠ SỞ 3
						p.mdi.mdi-map-marker 11/2 Đường số 10, P. Bình Thuận, Quận 7, TP Hồ Chí Minh
						p.mdi.mdi-phone (+84) 938 212 028
					.item
						.item-title VĂN PHÒNG TẠI TOKYO
						p.mdi.mdi-map-marker 〒141-0021 Tokyouto Shinagawaku Kamioosaki 2 Choume 13 Ban 32 Gou Tomita Biru 401
						p.mdi.mdi-phone （+81）80 2274 5232
					.item
						.item-title VĂN PHÒNG TẠI KANAGAWA
						p.mdi.mdi-map-marker 〒 211-0002 2-1341-10 kamimaruko sannocho, nakahara ku, kawasaki shi, kanagawa ken
						p.mdi.mdi-phone （+81）44 863 8515
			.col-md-8
				.maps
					iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.885689624953!2d106.73300971417142!3d10.74329256274364!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3175257802175f77%3A0xc66eb0394d7b9fcb!2sMirai%20Human!5e0!3m2!1svi!2s!4v1569634429025!5m2!1svi!2s" frameborder="0" style="border:0;" allowfullscreen="")