header
	.header-top
		.container
			.row
				.header-top-inner
					.header-left
						p
							span.mdi.mdi-email
							span Email: contact@miraihuman.com
						p
							span.mdi.mdi-phone
							span Hotline: 0902 538 164
					.header-logo
						a(href="/")
							img(src="img/logo-header.png", alt="logo-desktop")
							img(src="img/logo.png", alt="logo-mobile")
					.header-right
						form.search-box(action="", method="get")
							input(type="text" placeholder="Tìm kiếm...")
							button(type="submit").mdi.mdi-magnify
						.language-bar
							a(href="/")
								img(src="img/flag-jp.png", alt="jp")
							a(href="/")
								img(src="img/flag-vn.png", alt="vn")
	.header-bottom
		.container
			.row
				.col-12(style="display:flex")
					.toggle-menu
						span
						span
						span
						span
						span
						span
				.header-bottom-inner
					nav.navbar-left
						a(href="/").active
							span.mdi.mdi-home
							span TRANG CHỦ
						a(href="about.html") GIỚI THIỆU
						a(href="contact.html") LIÊN HỆ
						a(href="news.html") TIN TỨC
						a(href="hoi-dap.html") HỎI ĐÁP
					nav.navbar-right
						a(href="hoi-dap.html") THỰC TẬP SINH
						a(href="hoi-dap.html") KỸ SƯ VIỆT - NHẬT
						a(href="hoi-dap.html") DU HỌC SINH
						a(href="hoi-dap.html") ĐÀO TẠO