section.stuff-hoi-dap
	.toggle-stuff.mdi.mdi-playlist-star
	div
		a(href="/") hỏi - đáp
	nav.hoi-dap
		li
			a(href="/") Kỹ sư Việt Nhật
		li
			a(href="/") Du học sinh
		li
			a(href="/") Thực tập sinh
	div
		img(src="img/icon-resume.png", alt="icon-resume")
		a(href="/") hồ sơ cần chuẩn bị