section.stuff-hoi-dap
	a(href="index.html").logo
		img.lazy(data-src="img/logo/logo-none-sologan.png" alt="logo-none-sologan")
	.sidebar-wrap.sidebar-hoi-dap
		nav.sidebar-inner
			li
				a(href="ds-donhang.html") Kỹ sư Việt Nhật
			li
				a(href="ds-donhang.html") Du học sinh
			li
				a(href="ds-donhang.html") Thực tập sinh
	.sidebar-wrap.sidebar-ho-tro
		.sidebar-title hỗ trợ
		nav.sidebar-inner
			li
				a(href="hoi-dap.html") Hỗ trợ Học viên & Thực tập sinh tại Nhật
	.dang-ky-ngay.sidebar-title
		a(href="contact.html")
			img.lazy(data-src="img/icon/icon-phone.png" alt="icon-phone.png")
			span liên hệ