.stuff-hoi-dap
	width: 80px
	z-index: 2200
	text-align: center
	position: fixed
	left: 0
	top: 110px
	font-size: 13px
	line-height: 1.1
	.logo
		background: none
		margin-bottom: 2px
		img
			width: 100%
.sidebar-wrap, .dang-ky-ngay, .lien-he-ngay
	margin-bottom: 2px
.sidebar-wrap
	border: 2px solid $title-color
.sidebar-title
	background: $title-color
	padding: 5px
	text-transform: uppercase
	font-weight: 900
	line-height: 1.5
	color: #fff
.sidebar-inner
	li
		background: #fff
		list-style: none
		padding: 5px
		a
			color: $text-color
			font-weight: 700
		&:not(:last-child)
			border-bottom: 1px solid $title-color
		&:hover
			transition: all .25s ease-in-out
			a
				transition: all .25s ease-in-out
				color: #fff
			&:nth-child(1)
				background: #81ecec
			&:nth-child(2)
				background: #d63031
			&:nth-child(3)
				background: #273c75
.dang-ky-ngay, .lien-he-ngay
	border: 2px solid
	&:hover
		transition: all .25s ease-in-out
	a
		color: #fff
	img
		width: 30px
		height: 30px
		display: block
		margin: 0 auto 5px
.sidebar-hoi-dap
	border-color: #ff9f1a
	.sidebar-title
		background: #ff9f1a
	.sidebar-inner
		li
			border-color: #ff9f1a
.sidebar-ho-tro
	border-color: #c56cf0
	.sidebar-title
		background: #c56cf0
	.sidebar-inner
		li
			border-color: #c56cf0
			&:hover
				background: #DBEAFB
				a
					color: #4781AE
.dang-ky-ngay
	background: #FFC289
	border-color: #008652
	&:hover
		background: #008652
.lien-he-ngay
	margin-bottom: 0
	position: relative
	background: #00DBB6
	border-color: #005248
	cursor: pointer
	img
		animation: pulse 1.5s infinite
	&:hover
		background: #005248
.form-lien-he-ngay
	border: 2px solid #005248
	background: #00DBB6
	padding: 15px
	text-align: left
	width: 200px
	position: absolute
	left: calc(100% + 20px)
	bottom: -2px
	display: none
	&:before, &:after
		content: ''
		position: absolute
		left: -15px
		bottom: 15px
		width: 0
		height: 0
		border-style: solid
	&:before
		border-width: 15px 15px 15px 0
		border-color: transparent #005248 transparent transparent
	&:after
		bottom: 17px
		left: -13px
		border-width: 13px 13px 13px 0
		border-color: transparent #00DBB6 transparent transparent
	.form-item
		margin-bottom: 0
		input
			background: #fff
	.btn-so-yeu-li-lich
		margin: 0
		margin-top: 10px
		&:hover
			top: 0
			left: 0
			transform: scale(1.1)
			box-shadow: 0 0 5px 0 rgba(0, 0, 0, .3)
@media (max-width: 768px)
	.stuff-hoi-dap
		display: none