section.stuff-hoi-dap
	.logo
		img(src="img/logo-none-sologan.png", alt="logo-none-sologan")
	.sidebar-wrap.sidebar-hoi-dap
		.sidebar-title hỏi - đáp
		nav.sidebar-inner
			li
				a(href="hoi-dap.html") Kỹ sư Việt Nhật
			li
				a(href="hoi-dap.html") Du học sinh
			li
				a(href="hoi-dap.html") Thực tập sinh
	.sidebar-wrap.sidebar-ho-tro
		.sidebar-title mirai hỗ trợ
		nav.sidebar-inner
			li
				a(href="hoi-dap.html") Hỗ trợ Học viên & Thực tập sinh tại Nhật
	.dang-ky-ngay.sidebar-title
		img(src="img/icon-resume.png", alt="icon-resume")
		a(href="/") đăng ký ngay
	.lien-he-ngay.sidebar-title
		img(src="img/icon-phone.png", alt="icon-phone")
		p tư vấn qua điện thoại
		form.form-lien-he-ngay
			.form-item
				input(type="text" id="name" placeholder="Nhập họ và tên")
			.form-item
				input(type="text" id="phone" placeholder="Nhập số điện thoại")
			input(type="submit", value="GỬI").btn-so-yeu-li-lich