section.stuff-hoi-dap
	.logo
		img(src="img/logo-none-sologan.png", alt="logo-none-sologan")
	.sidebar-wrap.sidebar-hoi-dap
		nav.sidebar-inner
			li
				a(href="hoi-dap.html") Kỹ sư Việt Nhật
			li
				a(href="hoi-dap.html") Du học sinh
			li
				a(href="hoi-dap.html") Thực tập sinh
	.sidebar-wrap.sidebar-ho-tro
		.sidebar-title hỗ trợ
		nav.sidebar-inner
			li
				a(href="hoi-dap.html") Hỗ trợ Học viên & Thực tập sinh tại Nhật
	.dang-ky-ngay.sidebar-title
		img(src="img/icon-resume.png", alt="icon-resume")
		a(href="/") đăng ký ngay