section.hinh-anh
	.container
		.text-center
			h2.title Hình ảnh
		.row
			.col-12.hinh-anh-wrap
				.img-wrap
					a(href="img/banner-1.jpg" data-fancybox="images")
						img(src="img/banner-1.jpg", alt="banner-1.jpg")
				.img-wrap
					a(href="img/banner-2.jpg" data-fancybox="images")
						img(src="img/banner-2.jpg", alt="banner-2.jpg")
				.img-wrap
					a(href="img/che-bien-thuc-pham.jpg" data-fancybox="images")
						img(src="img/che-bien-thuc-pham.jpg", alt="che-bien-thuc-pham.jpg")
				.img-wrap
					a(href="img/slide-1.png" data-fancybox="images")
						img(src="img/slide-1.png", alt="slide-1.png")
				.img-wrap
					a(href="img/dieu-duong.jpg" data-fancybox="images")
						img(src="img/dieu-duong.jpg", alt="dieu-duong.jpg")
				.img-wrap
					a(href="img/hoat-dong (2).jpg" data-fancybox="images")
						img(src="img/hoat-dong (2).jpg", alt="hoat-dong (2).jpg")
				.img-wrap
					a(href="img/5c.png" data-fancybox="images")
						img(src="img/5c.png", alt="5c.png")
				.img-wrap
					a(href="img/hoat-dong (6).jpg" data-fancybox="images")
						img(src="img/hoat-dong (6).jpg", alt="hoat-dong (6).jpg")
				.img-wrap
					a(href="img/slide-2.png" data-fancybox="images")
						img(src="img/slide-2.png", alt="slide-2.png")
				.img-wrap
					a(href="img/user.jpg" data-fancybox="images")
						img(src="img/user.jpg", alt="user.jpg")
				.img-wrap
					a(href="img/5s.png" data-fancybox="images")
						img(src="img/5s.png", alt="5s.png")
				.img-wrap
					a(href="img/xay-dung.jpg" data-fancybox="images")
						img(src="img/xay-dung.jpg", alt="xay-dung.jpg")
				.img-wrap
					a(href="img/5k.png" data-fancybox="images")
						img(src="img/5k.png", alt="5k.png")
				.img-wrap
					a(href="img/adczx.png" data-fancybox="images")
						img(src="img/adczx.png", alt="adczx.png")
			.col-12
				a(href="/").see-more Xem thêm