footer.footer
	.container
		.row
			.col-6.col-md-3
				.footer-header trang chủ
				ul
					li
						a(href="about.html") Giới thiệu
					li
						a(href="contact.html") Liên hệ
					li
						a(href="news.html") Tin tức
					li
						a(href="hoi-dap.html") Hỏi đáp
					li
						a(href="#") Thực tập sinh
					li
						a(href="#") Kỹ sư
					li
						a(href="#") Điều dưỡng
					li
						a(href="#") Đặc định
			.col-6.col-md-3
				.footer-header Hỏi đáp
				ul
					li
						a(href="#") Mới học xong lớp 10 có thể đi lao động tại Nhà...
					li
						a(href="#") Điều kiện thủ tục lao động tại Nhật Bản
					li
						a(href="#") Muốn sang Nhật làm điều dưỡng
					li
						a(href="#") Muốn đi Nhật làm trong ngành máy tàu
			.col-6.col-md-3
				.footer-header Tin tức & sự kiện
				ul
					li
						a(href="#") Tìm hiểu Tochigi, nơi khởi nguồn những...
					li
						a(href="#") Đơn hàng kỹ sư may mặc đi Nhật
					li
						a(href="#") Bạn đã biết gì về đơn hàng xây dựng tổ...
					li
						a(href="#") Những điều bạn cần biết về đơn hàng đặt...
			.col-6.col-md-3
				.footer-header giấy phép
				ul
					li
						p 789/lđtnxh-gp, giấy phép đưa người lao động đi làm việc ở nước ngoài
						a(href="#")
							img.lazy.giay-phep(data-src="img/icon-footer.png" alt="icon-footer.png")
		hr.my-4
		.row
			.col-12.d-flex
				img.lazy.mr-sm-3(data-src="img/icon-facebook.png" width="69" height="69" alt="icon-facebook.png")
				#fb-root
				script(async defer crossorigin="anonymous" src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v5.0")
				.fb-page(data-href="https://www.facebook.com/fanpage.mirai" data-tabs="timeline" data-width="220" data-height="62" data-small-header="true" data-adapt-container-width="false" data-hide-cover="true" data-show-facepile="false")
					blockquote.fb-xfbml-parse-ignore(cite="https://www.facebook.com/fanpage.mirai")
						a(href="https://www.facebook.com/fanpage.mirai")

		hr.my-4
		.row(style="justify-content: center")
			.col-6.col-md-3
				.footer-header  CÔNG TY TNHH NHÂN LỰC MIRAI 
				ul
					li 26/4 - 26/5 Lê Thánh Tôn, P. Bến Nghé, Quận 1, HCM, Việt Nam 
					li (+84) 28 6686 3208
					li (+84) 28 6686 3208
					li contact@miraihuman.com
					li www.miraihuman.com
			.col-6.col-md-3
				.footer-header  TRUNG TÂM ĐÀO TẠO 
				ul
					li 155 Trần Trọng Cung, P. Tân Thuận Đông, Quận 7, HCM, Việt Nam 
					li (+84) 28 6686 3208
					li (+84) 28 6686 3208
					li contact@miraihuman.com
					li www.miraihuman.com
			.col-6.col-md-3
				.footer-header CƠ SỞ 2
				ul
					li 27/3 Đường số 10 - KP 3, P. Bình Thuận, Quận 7, TP Hồ Chí Minh
					li (+84) 902 763 882
					li www.miraihuman.com
			.col-6.col-md-3
				.footer-header CƠ SỞ 3
				ul
					li 11/2 Đường số 10, P. Bình Thuận, Quận 7, TP Hồ Chí Minh
					li (+84) 938 212 028
					li (+84) 28 6272 0651
					li contact@miraihuman.com
					li www.miraihuman.com
			.col-6.col-md-3
				.footer-header  VĂN PHÒNG TẠI TOKYO
				ul
					li 〒141-0021 Tokyouto Shinagawaku Kamioosaki 2 Choume 13 Ban 32 Gou Tomita Biru 401
					li （+81）80 2274 5232
					li contact@miraihuman.com
					li www.miraihuman.com
			.col-6.col-md-3
				.footer-header  VĂN PHÒNG TẠI KANAGAWA 
				ul
					li 〒 211-0002 2-1341-10 kamimaruko sannocho, nakahara ku, kawasaki shi, kanagawa ken
					li (+81) 44 - 863 - 8515
					li contact@miraihuman.com
					li www.miraihuman.com
	.footer-bottom
		.container.d-flex.justify-content-between.align-items-center.flex-column.flex-md-row
			.icon-social
				a.mdi.mdi-facebook(href="https://www.facebook.com/fanpage.mirai" target="_blank")
				a.mdi.mdi-youtube(href="https://www.youtube.com/channel/UC_aPd7LFRhF27FXPqYrILoA" target="_blank")
			div.text-center
				| COPYRIGHT © 
				span#year
				|  MIRAIHUMAN. ALL RIGHT RESERVED.