footer
	.container
		.row
			.col-md-6.col-lg-3
				.item
					img.logo(src="img/logo-footer.png", alt="logo-footer")
					h3.footer-title công ty TNHH nhân lực mirai
					.footer-content
						p.mdi.mdi-home 26/4 - 26/5 Lê Thánh Tôn, P. Bến Nghé Quận 1, HCM
						p.mdi.mdi-phone (+84) 6686 3208
						p.mdi.mdi-fax (+84) 6686 3208
						p.mdi.mdi-email contact@miraihuman.com
			.col-md-6.col-lg-3
				.item
					h3.footer-title trung tâm đào tạo
					.footer-content
						p.mdi.mdi-home 155 Trần Trọng Cung, P. Tân Thuận Đông, Quận 7, Tp.HCM
						p.mdi.mdi-phone (+84) 6686 3208
						p.mdi.mdi-fax (+84) 6686 3208
						p.mdi.mdi-email contact@miraihuman.com
				.item
					h3.footer-title hỗ trợ khách hàng
					.footer-content
						p.mdi.mdi-menu-right 
							a(href="/") Chuẩn bị gì để XKLĐ Nhật?
						p.mdi.mdi-menu-right 
							a(href="/") Hồ sơ cần chuẩn bị
						p.mdi.mdi-menu-right 
							a(href="/") Mức lương của kỹ sư tại Nhật Bản
						p.mdi.mdi-menu-right 
							a(href="/") Tư vấn miễn phí
			.col-md-6.col-lg-3
				.item
					h3.footer-title văn phòng tại nhật
					.footer-content
						p.mdi.mdi-home 〒141-0021 Tokyouto Shinagawaku Kamioosaki 2 Choume 13 Ban 32 Gou Tomita Biru 401
						p.mdi.mdi-phone (+84) 6686 3208
				.item
					h3.footer-title Tin tức & sự kiện
					.footer-content
						p.mdi.mdi-menu-right
							a(href="/") Việc làm MIRAI
						p.mdi.mdi-menu-right
							a(href="/") Hoạt động công ty
						p.mdi.mdi-menu-right
							a(href="/") Tuyển dụng
			.col-md-6.col-lg-3
				.item
					h3.footer-title xuất cảnh cùng mirai
					.footer-content
						p.mdi.mdi-menu-right
							a(href="/") Thực tập sinh
						p.mdi.mdi-menu-right
							a(href="/") Kỹ sư Việt Nhật
						p.mdi.mdi-menu-right
							a(href="/") Du học sinh
						p.mdi.mdi-menu-right
							a(href="/") Hộ lý - điều dưỡng
				.item
					h3.footer-title giấy phép
					.footer-content
						p(style="padding: 0; text-transform: uppercase")
							span(style="font-weight: 700") 789/lđtnxh-gp
							span , giấy phép đưa người lao động đi làm việc ở nước ngoài
						a(href="/")
							img(src="img/icon-footer.png", alt="icon-footer")
	.copyright
		.container
			.row
				.col-12.copyright-inner
					p COPYRIGHT © 2019 MIRAIHUMAN. ALL RIGHT RESERVED.
					.social
						a(href="/").mdi.mdi-web
						a(href="https://www.facebook.com/fanpage.mirai" target="_blank").mdi.mdi-facebook
						a(href="https://www.youtube.com/channel/UC_aPd7LFRhF27FXPqYrILoA" target="_blank").mdi.mdi-youtube