section.home-news
	.container
		.text-center
			h2.title tin tức
		.row
			.col-md-6
				.main-news
					.img-wrap
						img(src="img/hoat-dong (1).jpg", alt="hoat-dong (1).jpg")
					.hashtag-wrap
						a(href="news.html").hashtag việt nam
						a(href="news.html").hashtag tuyển dụng
						a(href="news.html").hashtag tin mới nhất
					a(href="news-detail.html").sub-title Thúc đẩy kết nối hai nền kinh tế Việt Nam - Nhật Bản
					p Thủ tướng Chính phủ Nguyễn Xuân Phúc và Thủ tướng Nhật Bản Shinzo Abe đã hội đàm và nhất trí đưa ra Tuyên bố chung về việc làm. Thủ tướng Chính phủ Nguyễn Xuân Phúc và Thủ tướng Nhật Bản Shinzo Abe đã hội đàm và nhất trí đưa ra Tuyên bố chung về việc làm Thủ tướng Chính phủ Nguyễn Xuân Phúc và Thủ tướng Nhật Bản Shinzo Abe đã hội đàm và nhất trí đưa ra Tuyên bố chung về việc làm. Thủ tướng Chính phủ Nguyễn Xuân Phúc và Thủ tướng Nhật Bản Shinzo Abe đã hội đàm và nhất trí đưa ra Tuyên bố chung về việc làm
					a(href="news-detail.html").see-more Xem thêm
				a(href="news.html").hashtag.hashtag-old tin tức việt nam khác
				.old-news
					.posted 01/10/2019
					a(href="news-detail.html").old-title Chiêu sinh Khóa học nâng cao kỹ năng quản lý và nghiệp vụ K35
				.old-news
					.posted 01/10/2019
					a(href="news-detail.html").old-title Tháng 10 – Esuhai hào hứng với lịch khai giảng trên toàn hệ thống
				.old-news
					.posted 01/10/2019
					a(href="news-detail.html").old-title Esuhai chào đón 150 phụ huynh của thực tập sinh chuẩn bị xuất cảnh đến thăm
				.old-news
					.posted 01/10/2019
					a(href="news-detail.html").old-title Hội thảo Takumi Project lần 5 - Cơ hội cho kỹ sư cao cấp Việt Nam
			.col-md-6
				.sub-news
					.img-wrap
						img(src="img/hoat-dong (1).jpg", alt="hoat-dong (1).jpg")
					.right
						.hashtag-wrap
							a(href="news.html").hashtag nhật bản
							a(href="news.html").hashtag lễ hội
						a(href="news-detail.html").sub-title Thúc đẩy kết nối hai nền kinh tế Việt Nam - Nhật Bản
						p Thủ tướng Chính phủ Nguyễn Xuân Phúc và Thủ tướng Nhật Bản Shinzo Abe đã hội đàm và nhất trí đưa ra Tuyên bố chung về việc làm. Thủ tướng Chính phủ Nguyễn Xuân Phúc và Thủ tướng Nhật Bản Shinzo Abe đã hội đàm và nhất trí đưa ra Tuyên bố chung về việc làm Thủ tướng Chính phủ Nguyễn Xuân Phúc và Thủ tướng Nhật Bản Shinzo Abe đã hội đàm và nhất trí đưa ra Tuyên bố chung về việc làm. Thủ tướng Chính phủ Nguyễn Xuân Phúc và Thủ tướng Nhật Bản Shinzo Abe đã hội đàm và nhất trí đưa ra Tuyên bố chung về việc làm
						a(href="news-detail.html").see-more Xem thêm
				.sub-news
					.img-wrap
						img(src="img/hoat-dong (1).jpg", alt="hoat-dong (1).jpg")
					.right
						.hashtag-wrap
							a(href="news.html").hashtag nhật bản
							a(href="news.html").hashtag tuyển dụng
						a(href="news-detail.html").sub-title Thúc đẩy kết nối hai nền kinh tế Việt Nam - Nhật Bản
						p Thủ tướng Chính phủ Nguyễn Xuân Phúc và Thủ tướng Nhật Bản Shinzo Abe đã hội đàm và nhất trí đưa ra Tuyên bố chung về việc làm. Thủ tướng Chính phủ Nguyễn Xuân Phúc và Thủ tướng Nhật Bản Shinzo Abe đã hội đàm và nhất trí đưa ra Tuyên bố chung về việc làm Thủ tướng Chính phủ Nguyễn Xuân Phúc và Thủ tướng Nhật Bản Shinzo Abe đã hội đàm và nhất trí đưa ra Tuyên bố chung về việc làm. Thủ tướng Chính phủ Nguyễn Xuân Phúc và Thủ tướng Nhật Bản Shinzo Abe đã hội đàm và nhất trí đưa ra Tuyên bố chung về việc làm
						a(href="news-detail.html").see-more Xem thêm
				a(href="news.html").hashtag.hashtag-old tin tức nhật bản khác
				.old-news
					.posted 01/10/2019
					a(href="news-detail.html").old-title Chiêu sinh Khóa học nâng cao kỹ năng quản lý và nghiệp vụ K35
				.old-news
					.posted 01/10/2019
					a(href="news-detail.html").old-title Tháng 10 – Esuhai hào hứng với lịch khai giảng trên toàn hệ thống
				.old-news
					.posted 01/10/2019
					a(href="news-detail.html").old-title Esuhai chào đón 150 phụ huynh của thực tập sinh chuẩn bị xuất cảnh đến thăm
				.old-news
					.posted 01/10/2019
					a(href="news-detail.html").old-title Hội thảo Takumi Project lần 5 - Cơ hội cho kỹ sư cao cấp Việt Nam
