section.home-news.py-3
	.container.p-md-0
		.text-center
			h2.title tin tức
		.row.mt-4
			.col-lg-8
				.home-news__main.p-3
					a(href="#").hashtag.d-none.d-md-inline-block Nổi bật
					.swiper-container(style="height: 100%")
						.swiper-wrapper
							.swiper-slide
								.home-news__main__wrapper
									.home-news__main__desc.px-md-3
										.home-news__main__title.mt-3.mt-md-5
											.d-md-none
												a(href="#").hashtag Nổi bật
											a(href="news-detail.html" title="Mirai tổ chức Lễ cấp chứng chỉ Đào Tạo lớp sơ cấp Điều Dưỡng khóa 1 năm 2020") Mirai tổ chức Lễ cấp chứng chỉ Đào Tạo lớp sơ cấp Điều Dưỡng khóa 1 năm 2020
										.home-news__main__time.mt-2.mt-md-3 20-05-2020
									.home-news__main__image
										img.lazy(data-src="http://noibo.miraihuman.com/public/miraiuploads/%E1%BA%A3nh%20b%C3%A0i%20vi%E1%BA%BFt%202/IMG_4896-min.jpg" alt="Hình ảnh")
							.swiper-slide
								.home-news__main__wrapper
									.home-news__main__desc.px-md-3
										.home-news__main__title.mt-3.mt-md-5
											.d-md-none
												a(href="#").hashtag Nổi bật
											a(href="news-detail.html" title="Diễn biến dịch bệnh covid 19 ở Nhật Bản đã có xu hướng giảm bớt, Chính Phủ Nhật quyết định gỡ bỏ lệnh khẩn cấp ở 39 trên 47 tỉnh thành") Diễn biến dịch bệnh covid 19 ở Nhật Bản đã có xu hướng giảm bớt, Chính Phủ Nhật quyết định gỡ bỏ lệnh khẩn cấp ở 39 trên 47 tỉnh thành
										.home-news__main__time.mt-2.mt-md-3 19-05-2020
									.home-news__main__image
										img.lazy(data-src="http://noibo.miraihuman.com/public/miraiuploads/%E1%BA%A3nh%20b%C3%A0i%20vi%E1%BA%BFt%202/nhcovid_plgh.jpg" alt="Hình ảnh")
					.home-news__main__nav.mt-3.mt-md-0
						span(role="button").home-news__main__nav-prev.mdi.mdi-chevron-left
						span(role="button").home-news__main__nav-next.mdi.mdi-chevron-right
			.col-lg-4.mt-4.mt-lg-0
				.home-news__sub
					.home-news__sub__header
						.home-news__sub__header__title MỚI NHẤT
						.home-news__sub__nav
							div(role="button").home-news__sub__nav-prev.mdi.mdi-chevron-up
							div(role="button").home-news__sub__nav-next.mdi.mdi-chevron-down
					.swiper-container
						.swiper-wrapper
							.swiper-slide
								.home-news__sub__desc
									.home-news__sub__title
										a(href="news-detail.html" title="Chia sẻ kinh nghiệm khi tham gia phỏng vấn xuất khẩu lao động bằng Skype") Chia sẻ kinh nghiệm khi tham gia phỏng vấn xuất khẩu lao động bằng Skype
									.home-news__sub__time.mt-2 20-05-2020
							.swiper-slide
								.home-news__sub__desc
									.home-news__sub__title
										a(href="news-detail.html" title="Chính Phủ Nhật Bản lên kế hoạch dỡ bỏ tình trạng khẩn cấp ở 5 quận còn lại, kết thúc tình trạng khẩn cấp trên toàn quốc") Chính Phủ Nhật Bản lên kế hoạch dỡ bỏ tình trạng khẩn cấp ở 5 quận còn lại, kết thúc tình trạng khẩn cấp trên toàn quốc
									.home-news__sub__time.mt-2 25-05-2020
							.swiper-slide
								.home-news__sub__desc
									.home-news__sub__title
										a(href="news-detail.html" title="Cơ hội nào cho các thực tập sinh cao tuổi đi xuất khẩu lao động Nhật Bản") Cơ hội nào cho các thực tập sinh cao tuổi đi xuất khẩu lao động Nhật Bản
									.home-news__sub__time.mt-2 20-05-2020
							.swiper-slide
								.home-news__sub__desc
									.home-news__sub__title
										a(href="news-detail.html" title="Chương trình kỹ năng đặc định ngành vệ sinh tòa nhà") Chương trình kỹ năng đặc định ngành vệ sinh tòa nhà
									.home-news__sub__time.mt-2 20-05-2020
							.swiper-slide
								.home-news__sub__desc
									.home-news__sub__title
										a(href="news-detail.html" title="Cùng tìm hiểu một vài tiêu chí giúp các thực tập sinh có thể lựa chọn được đơn hàng phù hợp") Cùng tìm hiểu một vài tiêu chí giúp các thực tập sinh có thể lựa chọn được đơn hàng phù hợp
									.home-news__sub__time.mt-2 25-05-2020
							.swiper-slide
								.home-news__sub__desc
									.home-news__sub__title
										a(href="news-detail.html" title="MỘT SỐ KINH NGHIỆM CHỌN TRƯỜNG VÀ THI ĐẠI HỌC Ở NHẬT") MỘT SỐ KINH NGHIỆM CHỌN TRƯỜNG VÀ THI ĐẠI HỌC Ở NHẬT
									.home-news__sub__time.mt-2 20-05-2020