section.home-news
	.container
		.text-center
			h2.title tin tức
		.row(style="margin-top: 30px")
			.col-md-6
				.news
					.img-wrap
						img(src="img/hoat-dong (1).jpg", alt="hoat-dong (1).jpg")
					.hashtag-wrap
						.hashtag nhật bản
					a(href="/").sub-title Thúc đẩy kết nối hai nền kinh tế Việt Nam - Nhật Bản
					p Thủ tướng Chính phủ Nguyễn Xuân Phúc và Thủ tướng Nhật Bản Shinzo Abe đã hội đàm và nhất trí đưa ra Tuyên bố chung về việc làm. Thủ tướng Chính phủ Nguyễn Xuân Phúc và Thủ tướng Nhật Bản Shinzo Abe đã hội đàm và nhất trí đưa ra Tuyên bố chung về việc làm Thủ tướng Chính phủ Nguyễn Xuân Phúc và Thủ tướng Nhật Bản Shinzo Abe đã hội đàm và nhất trí đưa ra Tuyên bố chung về việc làm. Thủ tướng Chính phủ Nguyễn Xuân Phúc và Thủ tướng Nhật Bản Shinzo Abe đã hội đàm và nhất trí đưa ra Tuyên bố chung về việc làm
					a(href="/").see-more Xem thêm
			.col-md-6
				.sub-news
					.img-wrap
						img(src="img/hoat-dong (1).jpg", alt="hoat-dong (1).jpg")
					.right
						.hashtag-wrap
							.hashtag nhật bản
							.hashtag việt nam
						a(href="/").sub-title Thúc đẩy kết nối hai nền kinh tế Việt Nam - Nhật Bản
						p Thủ tướng Chính phủ Nguyễn Xuân Phúc và Thủ tướng Nhật Bản Shinzo Abe đã hội đàm và nhất trí đưa ra Tuyên bố chung về việc làm. Thủ tướng Chính phủ Nguyễn Xuân Phúc và Thủ tướng Nhật Bản Shinzo Abe đã hội đàm và nhất trí đưa ra Tuyên bố chung về việc làm Thủ tướng Chính phủ Nguyễn Xuân Phúc và Thủ tướng Nhật Bản Shinzo Abe đã hội đàm và nhất trí đưa ra Tuyên bố chung về việc làm. Thủ tướng Chính phủ Nguyễn Xuân Phúc và Thủ tướng Nhật Bản Shinzo Abe đã hội đàm và nhất trí đưa ra Tuyên bố chung về việc làm
						a(href="/").see-more Xem thêm
				.sub-news
					.img-wrap
						img(src="img/hoat-dong (1).jpg", alt="hoat-dong (1).jpg")
					.right
						.hashtag-wrap
							.hashtag nhật bản
							.hashtag việt nam
						a(href="/").sub-title Thúc đẩy kết nối hai nền kinh tế Việt Nam - Nhật Bản
						p Thủ tướng Chính phủ Nguyễn Xuân Phúc và Thủ tướng Nhật Bản Shinzo Abe đã hội đàm và nhất trí đưa ra Tuyên bố chung về việc làm. Thủ tướng Chính phủ Nguyễn Xuân Phúc và Thủ tướng Nhật Bản Shinzo Abe đã hội đàm và nhất trí đưa ra Tuyên bố chung về việc làm Thủ tướng Chính phủ Nguyễn Xuân Phúc và Thủ tướng Nhật Bản Shinzo Abe đã hội đàm và nhất trí đưa ra Tuyên bố chung về việc làm. Thủ tướng Chính phủ Nguyễn Xuân Phúc và Thủ tướng Nhật Bản Shinzo Abe đã hội đàm và nhất trí đưa ra Tuyên bố chung về việc làm
						a(href="/").see-more Xem thêm