.back-2-top
	.btn-back-2-top
		z-index: 100
		width: 40px
		height: 40px
		position: fixed
		background: $title-color
		border-radius: 4px
		bottom: 15px
		right: 15px
		cursor: pointer
		transition: .2s
		visibility: hidden
		opacity: 0
		box-shadow: 0 0 4px 0 #fff
		&.show
			visibility: visible
			opacity: 1
		&:before
			color: #fff
			position: absolute
			font-size: 30px
			top: 50%
			left: 50%
			transform: translate(-50%, -50%)
			content: '\F0143'
			display: inline-block
			font-family: 'Material Design Icons'
			text-rendering: auto
			line-height: 1
			-webkit-font-smoothing: antialiased
			-moz-osx-font-smoothing: grayscale