section.ho-so-chuan-bi
	.container
		.row
			.col-12.ho-so-inner
				.left
					h2.title hồ sơ cần chuẩn bị
					img(src="img/line.png", alt="line")
					.content
						p Khi ĐĂNG KÝ tham gia chương trình
				.bulkhead
				.row.right
					.col-6.col-md-3.col-lg-auto
						.item
							span.mdi.mdi-account-card-details Chứng minh nhân dân
						.item
							span.mdi.mdi-medical-bag Khám sức khỏe
							p Nam: 1.000.000đ
							p Nữ: 900.000đ
					.col-6.col-md-3.col-lg-auto
						.item
							span.mdi.mdi-airplane-takeoff Hộ chiếu
						.item
							span.mdi.mdi-account-box 2 ảnh 4x6
							p(style="padding: 0") ( chuẩn quốc tế )
					.col-md-6.col-lg-auto
						.item
							span.mdi.mdi-shield-check Đơn xác nhận hạnh kiểm / Đơn xác nhận tiền án tiền sự
						.item
							span.mdi.mdi-account-check Đơn xác nhận tình trạng hôn nhân (đối với trường hợp chưa kết hôn)
					.col-12
						.item
							span.mdi.mdi-clipboard-check Đối với các ứng viên đã từng đăng ký / tham gia đi làm việc / du học / giao lưu văn hóa / du lịch /... tại nước ngoài, cần đem theo toàn bộ hồ sơ liên quan.