.ho-so-chuan-bi
	padding: 60px 0
	.right-inner
		display: flex
	.inner
		&-2, &-3
			padding-left: 15px
	.mdi
		&:before
			color: #fff
			position: absolute
			font-size: 24px
			left: 0
			top: -5px
	.item
		color: #fff
		line-height: 1.5
		position: relative
		margin-bottom: 10px
		padding-left: 30px
	.img-wrap
		margin-top: 15px
		img
			width: 100%

//- style sticket -*/
$width: 40px
$half-width: $width/2
$bg: #fff
.ticket-wrap
	margin-top: 30px
	padding: 15px
	border: 1px solid #CDDCDC
	box-shadow: 0 0 10px 0 #CDDCDC
.ticket-inner
	background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%)
	overflow: hidden
	position: relative
	padding: 0
	&:before,
	&:after
		content: ''
		position: absolute
		width: $width
		height: $width
		background: $bg
		border-radius: 99px
		top: -$half-width
	&:before
		left: -$half-width
	&:after
		right: -$half-width
	.ticket
		position: relative
		padding: 20px
		&:before,
		&:after
			content: ''
			position: absolute
			width: $width
			height: $width
			background: $bg
			border-radius: 99px
			bottom: -$half-width
		&:before
			left: -$half-width
		&:after
			right: -$half-width

@media (max-width: 767.97px)
	.ho-so-chuan-bi
		.item
			padding-left: 20px
		.mdi
			&:before
				font-size: 16px
				top: -2px
		.right-inner
			flex-wrap: wrap
			.inner-3
				flex: 0 0 100%
				max-width: 100%
				padding: 0
@media (max-width: 575.97px)
	.ho-so-chuan-bi
		padding: 30px 
	.ticket-wrap
		margin-top: 15px
