section.ho-so-chuan-bi
	.container
		.row
			.col-12.text-center
				h2.title Hồ sơ chuẩn bị
				img.lazy(data-src="img/icon/line.png", alt="line")
			.col-12(style="padding: 0")
				.img-wrap
					img.lazy(data-src="img/backdrop/banner-ho-so.jpg", alt="banner-ho-so")
			.col-12.ticket-wrap
				.ticket-inner
					.ticket
						.right-inner
							.inner-1
								.item.mdi.mdi-card-account-details-star
									span Chứng minh nhân dân
								.item.mdi.mdi-medical-bag
									span Khám sức khỏe
									p Nam: 1.000.000đ
									p Nữ: 900.000đ
							.inner-2
								.item.mdi.mdi-airplane-takeoff
									span Hộ chiếu
								.item.mdi.mdi-account-box
									span 2 ảnh 4x6
									p(style="padding: 0") ( chuẩn quốc tế )
							.inner-3
								.item.mdi.mdi-shield-check
									span Đơn xác nhận hạnh kiểm / Đơn xác nhận tiền án tiền sự
								.item.mdi.mdi-account-check
									span Đơn xác nhận tình trạng hôn nhân (đối với trường hợp chưa kết hôn)
						.col-12(style="padding: 0")
							.item.mdi.mdi-clipboard-check
								span Đối với các ứng viên đã từng đăng ký / tham gia đi làm việc / du học / giao lưu văn hóa / du lịch /... tại nước ngoài, cần đem theo toàn bộ hồ sơ liên quan.