section.page-banner
	picture
		source(media="(min-width: 960px)" srcset="img/banner/banner-tintuc-1920x500.png")
		source(media="(min-width: 640px)" srcset="img/banner/banner-tintuc-960x500.png")
		img.lazy(data-src="img/banner/banner-tintuc-960x500.png" alt="img/banner/banner-tintuc-960x500.png")
section.tintuc.py-4.py-md-5
	.container
		.row
			.col-12.viec-lam-title
				.title Tin tức
				nav.viec-lam-tabs
					li.active
						a(href="news.html") nổi bật
					li
						a(href="news.html") điều dưỡng
					li
						a(href="news.html") kỹ sư
			.col-12.p-md-0.tintuc-list
				-for(var i = 0; i < 5; i++)
					figure.tintuc-item
						a.tintuc-title.d-block.d-md-none(href="news-detail.html" title="Cùng nhau trải nghiệm những nét đẹp và lễ hội đặc sắc ở Nhật Bản vào tháng 5") Cùng nhau trải nghiệm những nét đẹp và lễ hội đặc sắc ở Nhật Bản vào tháng 5
						a.tintuc-image(href="news-detail.html")
							img.lazy(data-src="http://noibo.miraihuman.com/miraiuploads/%E1%BA%A3nh1/unnamed%20-%202020-05-04T145913.283%20(1).jpg" alt="Image" title="Cùng nhau trải nghiệm những nét đẹp và lễ hội đặc sắc ở Nhật Bản vào tháng 5")
						figcaption
							a.tintuc-title.d-none.d-md-block(href="news-detail.html" title="Cùng nhau trải nghiệm những nét đẹp và lễ hội đặc sắc ở Nhật Bản vào tháng 5") Cùng nhau trải nghiệm những nét đẹp và lễ hội đặc sắc ở Nhật Bản vào tháng 5
							.tintuc-time
								span.mdi.mdi-clock-outline
								span.ml-1 2020-05-04
							.tintuc-desc Tháng 5 là thời điểm giao mùa giữa mùa xuân và mùa hạ ở Nhật Bản, thời tiết khá là dễ chịu và cũng là thời điểm tuyệt vời để mọi người cùng nhau chiêm ngưỡng những vẻ đẹp và lễ hội đặc sắc ở Nhật. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aperiam distinctio obcaecati expedita cum ea cumque quidem deleniti natus odio sapiente fugiat in unde sequi quos voluptate error, temporibus dignissimos culpa quis qui minus ullam ad itaque id! Pariatur, porro eos saepe magni, sit commodi qui atque nostrum omnis animi quae dolor quasi at iure ducimus, consectetur soluta quisquam nulla eum vero amet. Voluptatem est deleniti sint praesentium officia officiis alias aut amet, illum quidem minima facere a id vitae dolor maxime autem saepe enim nam quod excepturi sapiente placeat harum! Numquam quasi illum aut, soluta quos delectus architecto molestias distinctio!
			.col-12
				.tabs-pagination.justify-content-center
					a(href="#").back-page.isDisabled
						span.mdi.mdi-chevron-left
					a(href="#").current-page 1
					a(href="#") 2
					a(href="#") 3
					a(href="#").next-page
						span.mdi.mdi-chevron-right