section.news
	.container
		.text-center
			h2.title tin tức mirai
		.row
			.col-12
				nav.navbar-center
					li.active
						a(href="/") tin mới nhất
					li
						a(href="/") tin tuyển dụng
					li
						a(href="/") tin nhật bản
					li
						a(href="/") tin việt nam
			.col-md-6
				.main-news
					.img-wrap
						img(src="img/co-khi.jpg", alt="co-khi")
					a(href="/").sub-title Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis repellendus nihil eligendi! Officiis accusamus, amet unde ut iste expedita eaque.
					.posted 19/09/2019
					.news-content
						p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Labore beatae quos reprehenderit tempore. Blanditiis omnis quia error nihil ipsum, reprehenderit unde natus magnam harum pariatur labore culpa cupiditate suscipit, optio, et magni ad illum cum eius sequi. Perferendis, expedita quis sapiente accusantium cumque, provident, beatae dolores error consectetur consequuntur minima. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugiat architecto quam debitis maiores reprehenderit porro vitae dolorem eveniet exercitationem odit quas, ea eum ipsum! Minima pariatur architecto est officiis, cumque ipsam maxime optio? Similique illo provident blanditiis praesentium quisquam voluptate in voluptas alias laborum at officiis fugiat, optio doloremque suscipit facere asperiores commodi autem aut magni dolorum ullam impedit. Accusamus optio voluptatem sequi, quos eaque consequatur exercitationem delectus eum deserunt quo provident enim nihil tempora. Ullam, culpa officia earum iure dolorem dolorum nemo labore, tempora molestias maxime iusto recusandae ex distinctio? Optio quaerat veritatis accusantium dignissimos nostrum laborum cupiditate quos.
			.col-md-6
				.row
					-for(var i = 0; i < 4; i++)
						.col-md-6
							.sub-news
								.img-wrap
									img(src="img/co-khi.jpg", alt="co-khi")
								a(href="/").sub-title Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis repellendus nihil eligendi! Officiis accusamus
								.posted 19/09/2019
								.news-content
									p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Labore beatae quos reprehenderit tempore. Blanditiis omnis quia error nihil ipsum, reprehenderit unde natus magnam harum pariatur labore culpa cupiditate suscipit, optio, et magni ad illum cum eius sequi. Perferendis, expedita quis sapiente accusantium cumque, provident, beatae dolores error consectetur consequuntur minima.
			-for(var i = 0; i < 4; i++)
				.col-md-3
					.sub-news
						.img-wrap
							img(src="img/co-khi.jpg", alt="co-khi")
						a(href="/").sub-title Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis repellendus nihil eligendi! Officiis accusamus
						.posted 19/09/2019
						.news-content
							p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Labore beatae quos reprehenderit tempore. Blanditiis omnis quia error nihil ipsum, reprehenderit unde natus magnam harum pariatur labore culpa cupiditate suscipit, optio, et magni ad illum cum eius sequi. Perferendis, expedita quis sapiente accusantium cumque, provident, beatae dolores error consectetur consequuntur minima.
			.col-12
				.tabs-pagination
					a(href="/").first-page.isDisabled
						span.mdi.mdi-chevron-double-left
					a(href="/").back-page.isDisabled
						span.mdi.mdi-chevron-left
					a(href="/").current-page 1
					a(href="/") 2
					a(href="/") 3
					a(href="/").next-page
						span.mdi.mdi-chevron-right
					a(href="/").last-page
						span.mdi.mdi-chevron-double-right