section.home-video
	.container
		.row
			.col-12.text-center
				.title video về mirai
				img.lazy(data-src="img/line.png" alt="line")
			.col-12.col-lg-8
				.left.swiper-container
					.swiper-wrapper
						.swiper-slide
							iframe.lazy(width="100%" data-src="https://www.youtube.com/embed/IoeX4Qp4pic" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="")
						.swiper-slide
							iframe.lazy(width="100%" data-src="https://www.youtube.com/embed/xe8P7Q55f-w" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="")
						.swiper-slide
							iframe.lazy(width="100%" data-src="https://www.youtube.com/embed/YQmHNeSTQDI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="")
						.swiper-slide
							iframe.lazy(width="100%" data-src="https://www.youtube.com/embed/0t1jBcfDG0E" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="")
						.swiper-slide
							iframe.lazy(width="100%" data-src="https://www.youtube.com/embed/Rz4asF3H0Qs" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="")
						.swiper-slide
							iframe.lazy(width="100%" data-src="https://www.youtube.com/embed/xe8P7Q55f-w" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="")
			.col-12.col-lg-4
				.right.swiper-container
					.swiper-wrapper
						.swiper-slide
							.item
								p MIRAI HUMAN RESOURCES COMPANY LIMITED
						.swiper-slide
							.item
								p Đài truyền hình Khánh Hòa đưa tin về đề án xuất khẩu lao động
						.swiper-slide
							.item
								p Đài truyền hình Khánh Hòa đưa tin về đề án xuất khẩu lao động Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus, veniam?
						.swiper-slide
							.item
								p Học viên Mirai
						.swiper-slide
							.item
								p Mirai human ベトナム面接2
						.swiper-slide
							.item
								p ATV đến với - MiraiHuman - quá trình tuyển dụng nhân lực xkld