section.page-banner
	picture
		source(media="(min-width: 960px)" srcset="img/banner/banner-hoidap-1920x500.png")
		source(media="(min-width: 640px)" srcset="img/banner/banner-hoidap-960x500.png")
		img.lazy(data-src="img/banner/banner-hoidap-960x500.png" alt="img/banner/banner-hoidap-960x500.png")
include ../breadcrumb/index.pug
section.hoi-dap
	.container
		.row
			.col-md-4
				nav.sidebar
					li(tab="tabs0").active Xuất khẩu lao động tại Nhật
					li(tab="tabs1") Mức lương XKLĐ tại Nhật
			.col-md-8
				.hoi-dap-content
					h3.sub-title Xuất khẩu lao động tại Nhật
					.tabs(tab="tabs0").active
						.item
							.item-title Muốn sang Nhật làm điều dưỡng
							.item-content
								p Lorem ipsum dolor sit amet consectetur adipisicing elit. At cum voluptates dolor saepe debitis est quo ratione illo corrupti architecto itaque, in quaerat porro quidem! Magni beatae facere quod! Reprehenderit amet dicta dolores dolorum tempora consequatur! Nobis quia, repudiandae beatae id odio repellendus sequi voluptates eius reiciendis. Molestias veniam quasi fugit enim impedit esse exercitationem aut beatae voluptatum, quae veritatis, consequuntur voluptate. Necessitatibus dolorem nostrum dignissimos quasi totam nesciunt rem accusamus? Quae repudiandae incidunt veritatis natus! Eveniet reiciendis in reprehenderit nesciunt atque fuga aspernatur eaque, laudantium debitis magnam voluptates inventore consequatur adipisci! Voluptatibus soluta sed amet ipsum incidunt accusantium dignissimos?
						.item
							.item-title XKLD Nhật. Bao lâu mới có công việc ổn định
							.item-content
								p Lorem ipsum dolor sit amet consectetur adipisicing elit. At cum voluptates dolor saepe debitis est quo ratione illo corrupti architecto itaque, in quaerat porro quidem! Magni beatae facere quod! Reprehenderit amet dicta dolores dolorum tempora consequatur! Nobis quia, repudiandae beatae id odio repellendus sequi voluptates eius reiciendis. Molestias veniam quasi fugit enim impedit esse exercitationem aut beatae voluptatum, quae veritatis, consequuntur voluptate. Necessitatibus dolorem nostrum dignissimos quasi totam nesciunt rem accusamus? Quae repudiandae incidunt veritatis natus! Eveniet reiciendis in reprehenderit nesciunt atque fuga aspernatur eaque, laudantium debitis magnam voluptates inventore consequatur adipisci! Voluptatibus soluta sed amet ipsum incidunt accusantium dignissimos?
					.tabs(tab="tabs1")
						.item
							.item-title Mức lương Kỹ Sư làm tại Nhật Bản
							.item-content
								p Lorem ipsum dolor sit amet consectetur adipisicing elit. At cum voluptates dolor saepe debitis est quo ratione illo corrupti architecto itaque, in quaerat porro quidem! Magni beatae facere quod! Reprehenderit amet dicta dolores dolorum tempora consequatur! Nobis quia, repudiandae beatae id odio repellendus sequi voluptates eius reiciendis. Molestias veniam quasi fugit enim impedit esse exercitationem aut beatae voluptatum, quae veritatis, consequuntur voluptate. Necessitatibus dolorem nostrum dignissimos quasi totam nesciunt rem accusamus? Quae repudiandae incidunt veritatis natus! Eveniet reiciendis in reprehenderit nesciunt atque fuga aspernatur eaque, laudantium debitis magnam voluptates inventore consequatur adipisci! Voluptatibus soluta sed amet ipsum incidunt accusantium dignissimos?