section.hoi-dap
	.container
		.row
			.col-md-3
				nav.sidebar
					li.active Hỏi đáp nhóm 1
					li Hỏi đáp nhóm 2
					li Hỏi đáp nhóm 3
					li Hỏi đáp nhóm 4
					li Hỏi đáp nhóm 5
			.col-md-9
				.hoi-dap-content
					h3.sub-title Hỏi đáp nhóm 1
					.item
						.item-title Các hình thức đăng kí
						.item-content
							p Lorem ipsum dolor sit amet consectetur adipisicing elit. At cum voluptates dolor saepe debitis est quo ratione illo corrupti architecto itaque, in quaerat porro quidem! Magni beatae facere quod! Reprehenderit amet dicta dolores dolorum tempora consequatur! Nobis quia, repudiandae beatae id odio repellendus sequi voluptates eius reiciendis. Molestias veniam quasi fugit enim impedit esse exercitationem aut beatae voluptatum, quae veritatis, consequuntur voluptate. Necessitatibus dolorem nostrum dignissimos quasi totam nesciunt rem accusamus? Quae repudiandae incidunt veritatis natus! Eveniet reiciendis in reprehenderit nesciunt atque fuga aspernatur eaque, laudantium debitis magnam voluptates inventore consequatur adipisci! Voluptatibus soluta sed amet ipsum incidunt accusantium dignissimos?
					.item
						.item-title Lorem ipsum dolor sit amet.
						.item-content
							p Lorem ipsum dolor sit amet consectetur adipisicing elit. At cum voluptates dolor saepe debitis est quo ratione illo corrupti architecto itaque, in quaerat porro quidem! Magni beatae facere quod! Reprehenderit amet dicta dolores dolorum tempora consequatur! Nobis quia, repudiandae beatae id odio repellendus sequi voluptates eius reiciendis. Molestias veniam quasi fugit enim impedit esse exercitationem aut beatae voluptatum, quae veritatis, consequuntur voluptate. Necessitatibus dolorem nostrum dignissimos quasi totam nesciunt rem accusamus? Quae repudiandae incidunt veritatis natus! Eveniet reiciendis in reprehenderit nesciunt atque fuga aspernatur eaque, laudantium debitis magnam voluptates inventore consequatur adipisci! Voluptatibus soluta sed amet ipsum incidunt accusantium dignissimos?
					.item
						.item-title Lorem ipsum, dolor sit amet consectetur adipisicing.
						.item-content
							p Lorem ipsum dolor sit amet consectetur adipisicing elit. At cum voluptates dolor saepe debitis est quo ratione illo corrupti architecto itaque, in quaerat porro quidem! Magni beatae facere quod! Reprehenderit amet dicta dolores dolorum tempora consequatur! Nobis quia, repudiandae beatae id odio repellendus sequi voluptates eius reiciendis. Molestias veniam quasi fugit enim impedit esse exercitationem aut beatae voluptatum, quae veritatis, consequuntur voluptate. Necessitatibus dolorem nostrum dignissimos quasi totam nesciunt rem accusamus? Quae repudiandae incidunt veritatis natus! Eveniet reiciendis in reprehenderit nesciunt atque fuga aspernatur eaque, laudantium debitis magnam voluptates inventore consequatur adipisci! Voluptatibus soluta sed amet ipsum incidunt accusantium dignissimos?
					.item
						.item-title Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut, quis?
						.item-content
							p Lorem ipsum dolor sit amet consectetur adipisicing elit. At cum voluptates dolor saepe debitis est quo ratione illo corrupti architecto itaque, in quaerat porro quidem! Magni beatae facere quod! Reprehenderit amet dicta dolores dolorum tempora consequatur! Nobis quia, repudiandae beatae id odio repellendus sequi voluptates eius reiciendis. Molestias veniam quasi fugit enim impedit esse exercitationem aut beatae voluptatum, quae veritatis, consequuntur voluptate. Necessitatibus dolorem nostrum dignissimos quasi totam nesciunt rem accusamus? Quae repudiandae incidunt veritatis natus! Eveniet reiciendis in reprehenderit nesciunt atque fuga aspernatur eaque, laudantium debitis magnam voluptates inventore consequatur adipisci! Voluptatibus soluta sed amet ipsum incidunt accusantium dignissimos?
					.item
						.item-title Lorem ipsum dolor sit amet consectetur.
						.item-content
							p Lorem ipsum dolor sit amet consectetur adipisicing elit. At cum voluptates dolor saepe debitis est quo ratione illo corrupti architecto itaque, in quaerat porro quidem! Magni beatae facere quod! Reprehenderit amet dicta dolores dolorum tempora consequatur! Nobis quia, repudiandae beatae id odio repellendus sequi voluptates eius reiciendis. Molestias veniam quasi fugit enim impedit esse exercitationem aut beatae voluptatum, quae veritatis, consequuntur voluptate. Necessitatibus dolorem nostrum dignissimos quasi totam nesciunt rem accusamus? Quae repudiandae incidunt veritatis natus! Eveniet reiciendis in reprehenderit nesciunt atque fuga aspernatur eaque, laudantium debitis magnam voluptates inventore consequatur adipisci! Voluptatibus soluta sed amet ipsum incidunt accusantium dignissimos?