section.home-banner
	.swiper-container
		.swiper-wrapper
			.swiper-slide
				a(href="chitiet-tuyensinh.html")
					picture
						source(media="(min-width: 960px)" srcset="img/banner/tuyensinh-1920.png")
						source(media="(min-width: 640px)" srcset="img/banner/tuyensinh-960.png")
						img.lazy(data-src="img/banner/tuyensinh-960.png" alt="img/banner/tuyensinh-960.png")
			.swiper-slide
				picture
					source(media="(min-width: 960px)" srcset="img/banner/dieuduong-1920-vn.png")
					source(media="(min-width: 640px)" srcset="img/banner/dieuduong-960-vn.png")
					img.lazy(data-src="img/banner/dieuduong-960-vn.png" alt="img/banner/dieuduong-960-vn.png")
			.swiper-slide
				picture
					source(media="(min-width: 960px)" srcset="img/banner/gioithieucty_1-1920-vn.png")
					source(media="(min-width: 640px)" srcset="img/banner/gioithieucty_1-960-vn.png")
					img.lazy(data-src="img/banner/gioithieucty_1-960-vn.png" alt="img/banner/gioithieucty_1-960-vn.png")
			.swiper-slide
				picture
					source(media="(min-width: 960px)" srcset="img/banner/gioithieucty_2-1920-vn.png")
					source(media="(min-width: 640px)" srcset="img/banner/gioithieucty_2-960-vn.png")
					img.lazy(data-src="img/banner/gioithieucty_2-960-vn.png" alt="img/banner/gioithieucty_2-960-vn.png")
			.swiper-slide
				picture
					source(media="(min-width: 960px)" srcset="img/banner/dieuduong-1920-jp.png")
					source(media="(min-width: 640px)" srcset="img/banner/dieuduong-960-jp.png")
					img.lazy(data-src="img/banner/dieuduong-960-jp.png" alt="img/banner/dieuduong-960-jp.png")
			.swiper-slide
				picture
					source(media="(min-width: 960px)" srcset="img/banner/gioithieucty_1-1920-jp.png")
					source(media="(min-width: 640px)" srcset="img/banner/gioithieucty_1-960-jp.png")
					img.lazy(data-src="img/banner/gioithieucty_1-960-jp.png" alt="img/banner/gioithieucty_1-960-jp.png")
			.swiper-slide
				picture
					source(media="(min-width: 960px)" srcset="img/banner/gioithieucty_2-1920-jp.png")
					source(media="(min-width: 640px)" srcset="img/banner/gioithieucty_2-960-jp.png")
					img.lazy(data-src="img/banner/gioithieucty_2-960-jp.png" alt="img/banner/gioithieucty_2-960-jp.png")
	.pagination