.home-banner
	position: relative
	box-shadow: 0 0 5px 0 rgba(0, 0, 0, .3)
	.pagination
		z-index: 1
		position: absolute
		bottom: 15px
		left: 50%
		transform: translateX(-50%)
	.swiper-pagination-bullet
		width: 10px
		height: 10px
		border-radius: 0
		transform: rotate(45deg)
		background: #000
		opacity: 0.5
		outline: none
		&:not(:first-child)
			margin-left: 15px
		&-active
			background: #38A8D9
			opacity: 1
	.img-wrap
		height: 400px
		overflow: hidden
		position: relative
		img
				width: 100%
				height: 100%
				object-fit: cover
		&:before, &:after
			content: ''
			position: absolute
			top: 0
			left: -50%
		&.banner-img-1
			&:before
				width: 100%
				height: 100%
				transform: skew(-30deg)
				background-color: #fff
			&:after
				top: 0
				left: -2px
				width: 55%
				height: 200px
				background-image: url(../img/bg-1.png)
				background-size: cover
		&.banner-img-2
			&:before
				z-index: 1
				opacity: 0.8
				background-image: url(../img/bg-2-1.png)
				background-size: cover
				width: 80%
				height: 100%
				left: 50%
				transform: translateX(-50%)
			&:after
				left: 0
				bottom: 0
				right: 0
				background: rgba(#000, .4)
		&.banner-img-3
			&:before
				background-image: url(../img/bg-3.png)
				background-size: cover
				background-repeat: no-repeat
				top: 50%
				left: auto
				right: 0
				width: 70%
				height: calc(100% + 2px)
				transform: translateY(-50%)
.banner-inner
	position: absolute
	top: 0
	left: 0
	right: 0
	bottom: 0
.banner-title
	color: #ffffff
	height: 200px
	display: flex
	justify-content: center
	flex-direction: column
	text-transform: uppercase
	font-weight: 200
	font-size: 50px
	.title
		color: #ffffff
		line-height: 1
		font-size: 72px
.banner-content
	margin-top: 15px
	strong
		font-weight: 900
		font-size: 120%
		color: $title-color
.banner-item-1
	.flex-box
		div
			text-transform: uppercase
			&:nth-child(1)
				font-size: 128px
				font-weight: 900
				color: #FC433F
			&:nth-child(2)
				color: $main-color
				font-weight: 600
				margin-left: 15px
				text-align: right
				line-height: 1.5
				font-weight: 400
				font-size: 18px
.banner-item-2
	text-align: center
	margin: 0 auto
	.banner-title
		height: auto
		line-height: 1.5
	.title
		font-size: 45px
	.line
		width: 75%
		margin: 30px auto 0
	.banner-content
		color: #fff
		font-size: 20px
		font-weight: 300
		line-height: 1.5
		margin-top: 15px
		text-transform: uppercase
.banner-item-3
	margin-left: auto
	text-align: right
	.banner-title
		height: auto
		font-size: 32px
		font-weight: 400
		line-height: 1.2
		color: $title-color
	.title
		color: #ffffff
		font-size: 42px
		margin-bottom: 15px
		span
			padding: 10px 20px
			display: inline-block
			background: $title-color
	.banner-content
		font-size: 24px
		margin-top: 30px
		font-weight: 200
		line-height: 1.5

@media (max-width: 1199.97px)
	.home-banner
		.img-wrap
			&.banner-img-1
				&:after
					width: 100%
					transform: translateX(-42%)
			&.banner-img-2
				&:before
					width: 100%
					height: 100%
					left: 50%
					transform: translateX(-50%)
	.banner-item-1
		.title
			font-size: 60px
		.banner-title
			font-size: 30px
		.flex-box
				div
					&:nth-child(1)
						font-size: 100px
					&:nth-child(2)
						font-size: 16px
	.banner-item-2
		.title
			font-size: 30px
		.banner-title
			font-size: 40px
		.line
			margin-top: 15px
	.banner-item-3
		.title
			font-size: 36px
@media (max-width: 991.97px)
	.home-banner
		.img-wrap
			height: 300px
			&.banner-img-1
				&:after
					height: 150px
					transform: translateX(-44%)
	.banner-item-1
		.title
			font-size: 40px
		.banner-title
			font-size: 24px
			height: 150px
		.flex-box
			div
				&:nth-child(1)
					font-size: 60px
				&:nth-child(2)
					font-size: 15px
	.banner-item-2
		.banner-title
			font-size: 32px
	.banner-item-3
		.title
			font-size: 28px
		.banner-title
			font-size: 24px
		.banner-content
			margin-top: 15px
			font-size: 18px
@media (max-width: 767.97px)
	.home-banner
		.img-wrap
			&.banner-img-1
				&:before
					left: -45%
				&:after
					transform: translateX(-35%)
			&.banner-img-3
				&:before
					width: 80%
					height: calc(100% + 2px)
	.banner-item-1
		.title
			font-size: 28px
		.banner-title
			font-size: 18px
			height: 150px
		.flex-box
			flex-direction: column
			align-items: flex-start
			div
				&:nth-child(1)
					font-size: 60px
				&:nth-child(2)
					text-align: left
					font-size: 14px
	.banner-item-2
		.title
			font-size: 24px
		.banner-title
			font-size: 28px
		.banner-content
			font-size: 18px
	.banner-item-3
		.title
			font-size: 24px
		.banner-title
			font-size: 20px
		.banner-content
			margin-top: 15px
			font-size: 16px
@media (max-width: 575.97px)
	.home-banner
		.img-wrap
			height: 250px
			&.banner-img-1
				&:before
					content: none
				&:after
					opacity: .85
					width: 105%
					height: 400px
					transform: none
			&.banner-img-3
				&:before
					width: auto
					left: -35%
					opacity: 0.8
					content: none
				&:after
					opacity: 0.9
					background-color: #CDDCDC
					background-image: radial-gradient(at 50% 100%, rgba(255,255,255,0.50) 0%, rgba(0,0,0,0.50) 100%), linear-gradient(to bottom, rgba(255,255,255,0.25) 0%, rgba(0,0,0,0.25) 100%)
					background-blend-mode: screen, overlay
					top: 0
					left: 0
					right: 0
					bottom: 0
	.banner-inner
		width: auto
		.banner-item-1,
		.banner-item-2,
		.banner-item-3
			flex-basis: auto
			max-width: calc(100% - 30px)
		.banner-item-1
			.banner-title
				height: auto
			.banner-content
				margin-top: 1px
				margin-bottom: 30px
			strong
				color: #ffffff
			.flex-box
				align-items: flex-end
				div
					&:nth-child(1)
						font-size: 40px
						color: #ffffff
					&:nth-child(2)
						margin: 0
						color: #ffffff
						text-align: right
		.banner-item-2
			.title
				font-size: 15px
			.banner-title
				font-size: 20px
			.line
				margin-top: 10px
			.banner-content
				font-size: 16px
		.banner-item-3
			.title
				font-size: 18px
			.banner-title
				font-size: 24px
				font-weight: 700
				width: 80%
				margin-left: auto
			.banner-content
				margin-top: 10px
				text-transform: uppercase
				font-size: 14px
				color: $title-color
				font-weight: 600

@media (min-width: 576px)
	.banner-inner-1
		.transformY-center
			top: 0
			transform: none