section.home-banner
	.swiper-container
			.swiper-wrapper
					.swiper-slide
						.img-wrap
							img(src="img/slide-1.png", alt="slide")
					.swiper-slide
						.img-wrap
							img(src="img/slide-2.png", alt="slide")
					.swiper-slide
						.img-wrap
							img(src="img/slide-1.png", alt="slide")
	.pagination