section.home-banner
	.swiper-container
		.swiper-wrapper
			.swiper-slide
				picture
					source(media="(min-width: 960px)" srcset="img/banner/dieuduong-1920-vn.png")
					source(media="(min-width: 640px)" srcset="img/banner/dieuduong-960-vn.png")
					img(src="img/banner/dieuduong-960-vn.png" alt="img/banner/dieuduong-960-vn.png")
			.swiper-slide
				picture
					source(media="(min-width: 960px)" srcset="img/banner/gioithieucty_1-1920-vn.png")
					source(media="(min-width: 640px)" srcset="img/banner/gioithieucty_1-960-vn.png")
					img(src="img/banner/gioithieucty_1-960-vn.png" alt="img/banner/gioithieucty_1-960-vn.png")
			.swiper-slide
				picture
					source(media="(min-width: 960px)" srcset="img/banner/gioithieucty_2-1920-vn.png")
					source(media="(min-width: 640px)" srcset="img/banner/gioithieucty_2-960-vn.png")
					img(src="img/banner/gioithieucty_2-960-vn.png" alt="img/banner/gioithieucty_2-960-vn.png")
			.swiper-slide
				picture
					source(media="(min-width: 960px)" srcset="img/banner/dieuduong-1920-jp.png")
					source(media="(min-width: 640px)" srcset="img/banner/dieuduong-960-jp.png")
					img(src="img/banner/dieuduong-960-jp.png" alt="img/banner/dieuduong-960-jp.png")
			.swiper-slide
				picture
					source(media="(min-width: 960px)" srcset="img/banner/gioithieucty_1-1920-jp.png")
					source(media="(min-width: 640px)" srcset="img/banner/gioithieucty_1-960-jp.png")
					img(src="img/banner/gioithieucty_1-960-jp.png" alt="img/banner/gioithieucty_1-960-jp.png")
			.swiper-slide
				picture
					source(media="(min-width: 960px)" srcset="img/banner/gioithieucty_2-1920-jp.png")
					source(media="(min-width: 640px)" srcset="img/banner/gioithieucty_2-960-jp.png")
					img(src="img/banner/gioithieucty_2-960-jp.png" alt="img/banner/gioithieucty_2-960-jp.png")
	.pagination