section.home-banner
	.swiper-container
		.swiper-wrapper
			.swiper-slide
				.img-wrap.banner-img-1
					img(src="img/home-slide-1.jpg" alt="home-slide-1")
				.container.banner-inner.banner-inner-1
					.row.transformY-center
						.col-6.banner-item-1
							.banner-title
								p Công ty TNHH
								h2.title MIRAIHUMAN
							.banner-content
								.flex-box
									div 90%
									div
										p #[strong học viên] đăng ký tại
										p công ty đã có việc làm
										p tại Nhật bản
			.swiper-slide
				.img-wrap.banner-img-2
					img(src="img/home-slide-2.jpg" alt="home-slide-2")
				.container.banner-inner
					.row.transformY-center
						.col-8.banner-item-2
							.banner-title
								h2.title Công ty TNHH nhân lực Mirai
								p nâng tầm lao động việt
								.line
							.banner-content
								p phái cử thực tập sinh kỹ thuật
								p đào tạo giới thiệu kỹ sư
			.swiper-slide
				.img-wrap.banner-img-3
					img(src="img/slide-2.png" alt="slide-2")
				.container.banner-inner
					.row.transformY-center
						.col-5.banner-item-3
							.banner-title
								h2.title
									span bạn có muốn
								p gia tăng cơ hội đến đất nước nhật bản
							.banner-content
								p Hãy để công ty chúng tôi tiếp sức
								p giấc mơ của bạn
	.pagination