.home-banner
	position: relative
	img
		max-width: 100%
		height: auto
.home-banner,
.tuyensinh-banner
	.pagination
		z-index: 1
		position: absolute
		bottom: 10px
		left: 50%
		transform: translateX(-50%)
	.swiper-pagination-bullet
		width: 8px
		height: 8px
		border-radius: 99px
		background: #000
		opacity: 0.5
		outline: none
		&:not(:first-child)
			margin-left: 10px
		&-active
			background: #38A8D9
			opacity: 1
